.cluster-page-main-cont{
     height: 100%;
     min-height: 100vh;
     width: 100vw;
     background-color: #fff;
     padding: 22px;
     padding-bottom: 0px;
     padding-top: 42px;
     position: relative;
}

.cluster-profile-pro-cont{
     width: 100%;
     display: flex;
     align-content: center;
     justify-content: center;
}

.cluster-profile-main-cont{
     width: 100%;
    
}

.cluster-profile-pro{
     width: 100px;
     height: 100px;
     background: linear-gradient(180deg, #FEE27F 0%, #F6BC4F 100%);
     border-radius: 100px;
}
.cluster-profile-pro-name{
     width: 100%;
     display: flex;
     font-family: inter;
     align-items: center;
     justify-content: center;
     margin-top: 12px;
     font-size: 22px;
     color: #555555;
     font-weight: 700;
}

.cluster-profile-bio{
     width: 100%;
     display: flex;
     font-family: inter;
     align-items: center;
     padding: 12px;
     border-radius: 8px;
     background-color: #f7f7f7;
     justify-content: center;
     margin-top: 12px;
     font-size: 15px;
     color: #555555;
}

.cluster-hr-cont{
     width: 100%;
     border-bottom: 1px solid #e0e0e0;
     margin-top: 22px;
     margin-bottom: 22px;

}

.cluster-link-main-cont{
     width: 100%;
     max-width: 350px;
     height: 52px;
     background-color: #fefefe;
     box-shadow: var(--boxShad);
     border-radius: 7px;
     margin-top: 22px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #0070F3;
     outline: none;
     border-style: none;
     z-index: 100;
}

.cluster-link-main-cont:active{
     background-color: #e0e0e0;
}



.cluster-made-main-cont{
     position: absolute;
     bottom: 0;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 14px;
     font-family: inter;
     color: #555555;
     padding-bottom: var(--margin);
}