.app-clust-act-main-cont{
     min-height: 100vh;
     background-color:var(--backColor);
     border-bottom: 1px solid var(--borColor);

}
.app-clust-act-topper-main-cont{
     padding-bottom: 32px;
     
     background-color:var(--subHeaderBackColor);
}
.app-clust-act-lnk-head-main-cont
{
     display: inline-flex;
     width: 100%;
     padding: 22px;
     padding-bottom: 12px;
     padding-top: 22px;
}

.app-clust-act-crt-lnk-butt{
     flex: 1;
     width: auto;
     height: 46px;
     background-color: #4189F7;
     /* box-shadow: 0px 4px 8px 1px rgba(58, 132, 244, 0.25); */
     border-radius: 100px;
     outline: none;
     border-style: none;
     font-family: poppins;
     font-weight: 700;
     font-size: 14px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #fff;

}
.app-clust-act-set-butt{
     height: 46px;
     width: 46px;
     margin-left: 12px;
     padding: 4px;
     outline: none;
     border-style: none;
     background-color: var(--buttonBackColor);
     color: var(--textColor);
     border-radius: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.app-clust-act-set-butt:active{
     background-color: var(--buttonBackColor-selec);
}

.app-clust-act-set-butt-ico{
     width: 27px;
     height: 27px;
     color: inherit;
}


.app-clust-tit-main-cont{
     width: 100%;
     display: inline-flex;
     padding-top: 22px;
     padding-left: 22px;
     font-family: poppins;
     color: var(--textColor);
     font-weight: 800;
     font-size: 26px;
     padding-top: 52px;
     justify-content: center;
     align-items: center;
}

.app-clust-tit-main-cont-ico{
     width: 32px;
     height:32px;
     margin-right: 7px;
}

.app-clust-time-tit-main-cont{
     width: 100%;
     font-size: 12px;
     color: #959595;
     font-family: poppins;
     font-weight: 500;
     display: flex;
     justify-content: center;
     align-items: center;
}

.app-clust-indi-on{
     margin-left: 12px;
     width: 10px;
     height: 10px;
     background-color: #0CCE6B;
     border-radius: 100px;

}
.app-clust-indi-off{
     margin-left: 12px;
     width: 10px;
     height: 10px;
     background-color: var(--danger);
     border-radius: 100px;

}
.app-clust-sub-tit-main-cont{
     width: 100%;
     padding-left: 22px;
     padding-right: 22px;
     font-size: 12px;
     margin-top: 7px;
     color: var(--subtextColor);
     font-family: poppins;
     display: flex;
     text-align: center;
     justify-content: center;
}


.clust-link-head-cont{
     border-bottom: none;
     margin-top: 0px;
}

.clust-link-head-outer-cont{
     margin-top: 12px;  
     display: inline-flex;
     position: relative;
}

.lnk-lnk-reord-main-cont{
     height: 100%;
     padding-left: 6px;
     border-right: 1px solid var(--borColor);
}
.lnk-lnk-reord-ico{
     height: 24px;
     width: 24px;
     background-color: #f2f2f2;
     border-radius: 100px;
     margin-top: 5px;
     color: #bdbdbd;
}

.app-clust-link-holder-main-cont{
     flex: 1;
     flex-direction: column;
     height: 100%;
     padding: 12px;
     border-top: 1px solid var(--borColor);
     
}

.app-clust-link-holder-main-cont-lab{
     padding-bottom: 12px;
     padding-top: 12px;
}

@keyframes fadeIn {
     0% {opacity: 0;}
     100% {opacity: 1;}
  } 
.app-clust-link-overlay-main-cont{
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     animation-duration: 0.3s;
     animation-name: fadeIn;
     animation-fill-mode: forwards;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     backdrop-filter: blur(7px);
     z-index: 500;
}

.app-clust-link-more-menu{
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     width: 100%;
     height: auto;
     margin-bottom: -40%;
     z-index: 800;
}
.app-clust-link-more-menu-butt{
     width: 100%;
     height: 46px;
     color: var(--textColor);
     background-color: var(--buttonBackColor);
     border-radius: 7px;
     font-family: poppins;
     font-size: 14px;
     border:none;
     margin-bottom: 7px;
     outline: none;
     box-shadow: var(--boxShad);
     animation-duration: 0.3s;
     animation-name: comeIn;
     animation-fill-mode: forwards;
}

@keyframes comeIn {
     0% {
          transform: translateY(-100%);
     }
     100% {
          transform: translateY(0%);
     }
  } 

.app-clust-link-more-menu-butt:active{
     background-color: var(--buttonBackColor-selec);
}

.app-clust-link-more-menu-butt-ico{
     width: 18px;
     height: 18px;
     margin-left: 7px;
     color: inherit;
}

.clust-set-tit-main-cont{
width: 100%;
display: flex;
justify-content: center;
text-align: center;
margin: 0;
padding: 0;
padding-top: 52px;
}

.clust-set-sub-tit-main-cont{
display: flex;
justify-content: center;
margin: 0;
padding: 0;
padding-top: 7px;
padding-bottom: 12px;
}

.app-clust-set-holder-main-cont{
     flex: 1;
     flex-direction: column;
     width: 100%;
     height: 100%;
     border-top: 1px solid var(--borColor);
     background-color:var(--backColor);
     padding: 22px;
     border-bottom: 1px solid var(--borColor);
}
.app-clust-set-card-main-cont{
     width: 100%;
     height: 100px;
     border: 1px solid var(--borColor);
     background-color: var(--cardColor);
     border-radius: 6px;
     padding: 16px;
     position: relative;
     margin-top: 22px;
}
.app-clust-set-card-main-tit-cont{
font-size: 16px;
font-family: poppins;
font-weight: 700;
color: var(--textColor);
}

.app-clust-set-card-main-sub-tit-cont{
font-size: 12px;
width: 60%;
font-family: poppins;
font-weight: 500;
margin-top: 6px;
color: var(--subtextColor);
}
.app-clust-set-card-main-rigt-cont{
     position: absolute;
     right: 0;
     top: 0;
     bottom: 0;
     height: 100%;
     padding-right: 12px;
     display: flex;
     justify-content: center;
     padding-top: 22px;
}