@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: poppins , inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  /*neuro design*/
  
  --pri-dark: #11E4D1;
  --sec-dark:#fff;
  --warning:#EEC485;
  --danger:#EB445A;
  --succ:#81EAAB;
  --text-s1:#000;
  --text-s2:#63798E;
  --margin:20px;
  


  --pri-color:#4189F7;
  --margin-top:28px;
  --margin-bottom:28px;

  --bor-rad:10px;
  --back-color:#fff;


  --textBoxBackColor:#242424;
  --buttonBackColor:#242424;

  --welcomeMotoText:#fff;
  --textColor:#e4e6eb;
  --subtextColor:#B0B3B8;
  --backColor:#18191A;
  --borColor:#303030;
  --boxShad:0 3px 14px 0px rgba(0,0,0,0.1);
  
  --linkHolderColor:#18191A;
  
  --cardColor:#242526;
  --cardSubColor:#303030;
  --cardTextColor:#bdbdbd;
  --cardButtBackColor:#303030;

  --headerPriColor:#000;
  --headerSecColor:#000;
  --headColor:#242526;
  
  --NavheadColor:#242526;
  --NavTextColor:#959595;
  --NavTextColor-selec:#4189F7;
  
  --BugerCrossColor:#959595;
  --BurgerMenuColor:#2D2E34;


  
  --smallCardColor:#f5f5f5;
  --box-shad: 0 3px 10px 2px rgba(0,0,0,0.2);
  
/* 


  --welcomeMotoText:#fff;
  --textColor:#000;
  --subtextColor:#000;
  --backColor:#F2EFE4;
  --borColor:#EAE5D2;
  --boxShad:0 3px 14px 0px rgba(0,0,0,0.1);
  --linkHolderColor:#F2EFE4;
  
  --headerPriColor:#000;
  --headerSecColor:#000;
  --headColor:#F2EFE4;
  
  --NavheadColor:#F2EFE4;
  
  --buttonBackColor:#fff;
  
  --BugerCrossColor:#bdc3c7;
  --BurgerMenuColor:#2D2E34;
  

  --cardColor:#fff;
  --smallCardColor:#f5f5f5;
  --box-shad: 0 3px 10px 0px rgba(0,0,0,0.1);


border-bottom: 1px solid #C6DDF0;
border:1px solid #CAD0D4
background-color: #fefefe;
box-shadow: 0px 4px 9px #DAE5EE;
border-radius: 7px; */
-webkit-appearance: none;

}

body{
  background-color: var(--backColor);
}

/*   
[data-rsbs-backdrop] {
  background: rgba(255, 255, 255, 0.42);
  backdrop-filter: blur(14px);
  z-index:600;
}

[data-rsbs-overlay]{
 box-shadow: 0px -6px 24px rgba(0,0,0,0.1);
} */

[data-rsbs-overlay]{
  z-index:99999999;  
}
[data-rsbs-backdrop]{
  z-index:600;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.app-input-class-raised{
  padding-left: 12px;
  background: var(--sec-dark);
  box-shadow:var(--box-shad-raised);
  -webkit-box-shadow:var(--box-shad-raised);
  outline: none;
  border-style: none;
  border-radius: var(--bor-rad);
  
}

.app-input-class{
  padding-left: 12px;
  background: var(--sec-dark);
  box-shadow: var(--box-shad-inset);
  -webkit-box-shadow: var(--box-shad-inset);
  outline: none;
  border-style: none;
  border-radius: var(--bor-rad);
  
}

.app-input-class-raised-pressable{
  padding-left: 12px;
  background: var(--sec-dark);
  box-shadow:var(--box-shad-raised);
  -webkit-box-shadow:var(--box-shad-raised);
  outline: none;
  border-style: none;
  border-radius: var(--bor-rad);
}
.app-input-class-raised-pressable:active{
  box-shadow: none;
  -webkit-box-shadow:none;
}

.Toastify__toast-container {
  height: 12px;
  font-family: inter;
  font-size: 14px;
  font-weight: 700;

}

.Toastify__toast {
  width: 94%;
  margin-left: 3%;
  margin-top: 7px;
  border-radius: 8px;
}