@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: poppins , inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  /*neuro design*/
  
  --pri-dark: #11E4D1;
  --sec-dark:#fff;
  --warning:#EEC485;
  --danger:#EB445A;
  --succ:#0CCE6B;
  --text-s1:#000;
  --text-s2:#63798E;
  --margin:20px;
  --margin-top:22px;
  --bor-rad:10px;
  --back-color:#fff;
  --bor-color:#e0e0e0;
  --box-shad: 0 2px 10px 2px rgba(0,0,0,0.06);
  --box-shad-inset:inset -3px -3px 10px #384148, 
                  inset 3px 3px 10px #1E242B;
  --box-shad-raised:-3px -3px 10px #384148,
                    3px 3px 10px #1E242B;
/* 
border-bottom: 1px solid #C6DDF0;
border:1px solid #CAD0D4
background-color: #fefefe;
box-shadow: 0px 4px 9px #DAE5EE;
border-radius: 7px; */

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.app-input-class-raised{
  padding-left: 12px;
  background: var(--sec-dark);
  box-shadow:var(--box-shad-raised);
  -webkit-box-shadow:var(--box-shad-raised);
  outline: none;
  border-style: none;
  border-radius: var(--bor-rad);
  
}

.app-input-class{
  padding-left: 12px;
  background: var(--sec-dark);
  box-shadow: var(--box-shad-inset);
  -webkit-box-shadow: var(--box-shad-inset);
  outline: none;
  border-style: none;
  border-radius: var(--bor-rad);
  
}

.app-input-class-raised-pressable{
  padding-left: 12px;
  background: var(--sec-dark);
  box-shadow:var(--box-shad-raised);
  -webkit-box-shadow:var(--box-shad-raised);
  outline: none;
  border-style: none;
  border-radius: var(--bor-rad);
}
.app-input-class-raised-pressable:active{
  box-shadow: none;
  -webkit-box-shadow:none;
}

.Toastify__toast-container {
  height: 12px;
  font-family: inter;
  font-size: 14px;
  font-weight: 700;

}

.Toastify__toast {
  width: 94%;
  margin-left: 3%;
  margin-top: 7px;
  border-radius: 8px;
}