@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: inter , inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  /*neuro design*/
  
  --pri-dark: #11E4D1;
  --sec-dark:#fff;
  --warning:#EEC485;
  --danger:#EB445A;
  --succ:#8FDE82;
  --text-s1:#000;
  --text-s2:#63798E;
  --margin:20px;
  

  --pri-color:#4189F7;
  --dark-pri-color:#f3f3f3;
  --dark-sec-color:#e0e0e0;
  --welcomeCardHeight:120px;

  --margin-top:22px;
  --margin-bottom:22px;

  --bor-rad:10px;

  --textBoxBackColor:#fff;
  --buttonBackColor:#e0e0e0;
  --buttonBackColor-selec:#bdbdbd;

  --welcomeMotoText:#fff;
  --textColor:#212121;
  --subtextColor:#353535;
  --subHeadingTextColor:#555555;
  --backColor:var(--dark-pri-color);
  --borColor:#e0e0e0;
  --boxShad:0 3px 14px 0px rgba(0,0,0,0.09);
  
  --linkHolderColor:var(--dark-pri-color);
  /* --linkHolderColor:#171717; */

  --cardColor:#f7f7f7;
  --cardColor-disabled:#e0e0e0;
  --cardSubColor:#f3f3f3;
  --cardTextColor:#000;
  --cardButtBackColor:#e0e0e0;

  --headerPriColor:rgb(132, 126, 126);
  --headerSecColor:#000;
  --headerTextColor:#858585;
  --headColor:#fff;
  

  --subHeaderBackColor:#f1f1f1;

  --NavheadColor:#fff;
  --NavTextColor:#959595;
  --NavTextColor-selec:#4189F7;
  
  --BugerCrossColor:#959595;
  --BurgerMenuColor:#181818;


  
  --smallCardColor:#f5f5f5;
  --box-shad: 0 3px 10px 2px rgba(0,0,0,0.1);

  -webkit-appearance: none;

}

body{
  background-color: var(--backColor);
  
}

/*   
[data-rsbs-backdrop] {
  background: rgba(255, 255, 255, 0.42);
  backdrop-filter: blur(14px);
  z-index:600;
}

[data-rsbs-overlay]{
 box-shadow: 0px -6px 24px rgba(0,0,0,0.1);
} */

[data-rsbs-overlay]{
  z-index:99999999;  
  background-color: var(--cardColor);
}
[data-rsbs-backdrop]{
  z-index:600;
  
/* background: rgba(0, 0, 0, 0.45); */
/* backdrop-filter: blur(17px); */
  
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.app-input-class-raised{
  padding-left: 12px;
  background: var(--sec-dark);
  box-shadow:var(--box-shad-raised);
  -webkit-box-shadow:var(--box-shad-raised);
  outline: none;
  border-style: none;
  border-radius: var(--bor-rad);
  
}

.app-input-class{
  padding-left: 12px;
  background: var(--sec-dark);
  box-shadow: var(--box-shad-inset);
  -webkit-box-shadow: var(--box-shad-inset);
  outline: none;
  border-style: none;
  border-radius: var(--bor-rad);
  
}

.app-input-class-raised-pressable{
  padding-left: 12px;
  background: var(--sec-dark);
  box-shadow:var(--box-shad-raised);
  -webkit-box-shadow:var(--box-shad-raised);
  outline: none;
  border-style: none;
  border-radius: var(--bor-rad);
}
.app-input-class-raised-pressable:active{
  box-shadow: none;
  -webkit-box-shadow:none;
}

.Toastify__toast-container {
  height: 12px;
  font-family: inter;
  font-size: 14px;
  font-weight: 700;

}

.Toastify__toast {
  width: 94%;
  margin-left: 3%;
  margin-top: 7px;
  border-radius: 8px;
}