.land-body-cont{
     background-color: var(--backColor);
     color: #000;
     height: 100%;
}
.link-head-logo{
     
}

.app-head-main-cont-logo-ico{
     width: 26px;
     height: 26px;
}

.dash-add-butt{
 color: var(--pri-dark);    
 padding: 9px;
 border-radius: 100px;
 padding-left: 17px;
 padding-right: 17px;
 font-family: inter;
 font-weight: 700;
 font-size: 13px;
 display: flex;
 justify-content: center;
 align-items: center;
}



.dash-add-butt-ico{
margin-right: 4px;
}
.dash-wel-main-cont{
     width: 92%;
     margin-left: 4%;
     height: 130px;
     font-family: inter;
     position: relative;
     border-radius: 10px;
     font-size: 26px;
     padding: 22px;
     color: #fff;
     font-weight: 700;
     background: #36D1DC;
     background: -webkit-linear-gradient(45deg, #5B86E5, #36D1DC,#5B86E5,#36D1DC);
     background: linear-gradient(45deg, #5B86E5, #36D1DC,#5B86E5,#36D1DC); 
     background-size: 400% 400%;
     margin-top:22px;
     overflow: hidden;
     animation: gradient 15s ease infinite;

}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.dash-wel-main-decor-cont{
     position: absolute;
     width: 70px;
     height: 70px;
     right: 10%;
     bottom: -20%;
     background: #36D1DC;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
     transform: rotate(45deg);
}

.dash-wel-main-cont-ico{
     position: absolute;
     top: 0;
     right: 0;
     margin: 12px;
}
.dash-enal-cont{
     width: 92%;
     margin-left: 4%;
     height: auto;
     margin-top: var(--margin-top);
     display: inline-flex;
     align-items: center;
     font-size: 14px;
     position: relative;
     font-weight: 700;
     color: var(--text-s1);;
     padding: var(--margin);
}

.dash-enal-on{
     margin-left: 5px;
     color: #94FFBF;
}
.dash-enal-off{
     margin-left: 5px;
     color: var(--danger);
}

.dash-enal-butt-cont{
     width: 32px;
     height: 32px;
     border-radius: 100px;
     position: absolute;
     right: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: var(--margin);
}

.dash-enal-indi-on{
     width: 22px;
     height: 22px;
     border-radius: 100px;
     background: var(--succ);
     box-shadow: 0px 0px 6px var(--succ);
}
.dash-enal-indi-off{
     width: 22px;
     height: 22px;
     border-radius: 100px;
     background: var(--danger);
     box-shadow: 0px 0px 6px var(--danger);
}
.dash-links-cont{
     width: 92%;
     margin-left: 4%;
     height: auto;
     padding: 0;
      margin-top: 12px;
}

.dash-search-cont{
     width: 100%;
     height: 32px;
     font-size: 10px;

}
.dash-links-cont-serch-cont{
     padding: 12px;
     border-bottom: 1px solid var(--bor-color);
}

.dash-links-cont-link-cont{
     width: 100%;
     position: relative;
     border-bottom: 1px solid var(--bor-color);
     display: inline-flex;
     align-items: center;
     padding: var(--margin);
}

.dash-links-cont-link-cont-ico{
     width: 22px;
     height: 22px;
     background-color:var(--text-s1);;
     border-radius: 100px;

}
.dash-links-cont-link-cont-lab{
     font-family: inter;
     font-style: normal;
     font-weight: bold;
     font-size: 10px;
     color: var(--text-s1);;
     margin-left: 8px;
}

.dash-links-cont-link-right-cont{
     position: absolute;
     right: 0;
     height: 100%;
     display: inline-flex;
     align-items: center;
     padding-right: var(--margin);
}
.dash-links-cont-link-right-copy-butt{
 background-color: rgba(0, 0, 0, 0);
 border-style: none;
 outline: none;
 margin-left: 12px;
}
.dash-links-cont-link-right-copy-butt-ico{
     width: 19px;
     height: 19px;
     color: var(--text-s1);;
}
.turned-on{
     color: var(--succ);
     filter: drop-shadow(0px 0px 7px #24FF7C);
}

.turned-off{
     color: var(--danger);
     filter: drop-shadow(0px 0px 7px #EB445A);
}

.dash-links-cont-link-right-enal-butt-ico{
     width: 22px;
     height: 22px;
   
}

.dash-links-cont-link-botom-cont{
     width: 100%;
     display: inline-flex;
     padding: var(--margin);
}
.dash-links-cont-link-botom-crt-butt{
flex: 1;
margin: 10px;
font-family: inter;
border-radius: 100px;
height: 36px;
background: #11E4D1;
border-style: none;
outline: none;
font-size: 12px;
font-weight: 500;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -6px -6px 20px #384148, 0px 0px 10px #11E4D1;
margin-top: 0px;
margin-bottom: 0px;
}
.dash-links-cont-link-botom-show-butt{
     flex: 1;
     font-family: inter;
     font-size: 12px;
     border-radius: 100px;
     height: 36px;
     color: var(--text-s1);;
     margin: 10px;
     margin-top: 0px;
     margin-bottom: 0px;
     font-weight: 500;
}

.insight-main-cont{
     width: 92%;
     margin-left: 4%;
     height: 200px;overflow: hidden;
     position: relative;
     margin-top: 12px;
}
.insight-bottom-main-cont{
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 42px;
     display: inline-flex;
     background: #34414D;
     width: 92%;
     margin-left: 4%;
     padding: 0px;
     overflow: hidden;
     margin-bottom: 12px;
     border-radius: 100px;
}
.insight-bottom-butt{
     flex: 1;
     height: 100%;
     border-style: none;
     outline: none;
     color: var(--text-s1);;
     font-family: inter;
     font-weight: 700;
     background-color: rgba(0, 0, 0, 0);

}
.insigh-selec{
     background-color: var(--warning);
     color: #000;
}
.link-add-butt{
     background: #fff;
     box-shadow: none;
     border-radius: 7px;
     padding: 0px;
     color: #0070F3;
     padding-top: 7px;
     padding-bottom: 7px;
     font-weight: 500; 
     font-size: 14px;
     font-family: inter;
}

.app-land-prof-pic-butt-ico{
     width: 24px;
     height: 24px;
     color: #000;
}

.app-land-prof-pop-data-main-cont{
     width: 100%;
     position: relative;
}
.app-land-prof-pop-rgt-main-cont{
     position: absolute;
     right: 0;
     top: 0;
     bottom: 0;
     color: inherit;    
}

.app-land-prof-pop-rgt-main-ico{
     width: 22px;
     height: 22px;
     color: inherit;
}

.app-land-prof-pop-main-cont{
     width: 250px;
     height: auto;
     padding: 18px;
     padding-top: 22px;
     padding-bottom: 22px;
     border-radius: 6px;     
     border-color: var(--borColor);
     box-shadow: var(--box-shad);
}

.app-land-prof-pop-hr{
     border-bottom: 1px solid #e0e0e0;
     width: 100%;
     height: 1px;
     margin-top: 12px;
}

.pop-name-cont{
     font-size: 16px;
     font-family: inter;
     font-weight: 400;
     color: #555555;
     display: inline-flex;
     align-items: center;
}
.pop-acc-sett-cont{
     font-size: 16px;
     font-family: inter;
     font-weight: 400;
     margin-top: 12px;
     color: #0070F3;
     display: inline-flex;
     align-items: center;
}
.pop-link-cont{
     font-size: 16px;
     font-family: inter;
     font-weight: 400;
     margin-top: 8px;
     color: #555555;
     display: inline-flex;
     align-items: center;
}
.pop-eml-cont{
     font-family: inter;
     color: #0070F3;
     font-size: 16px;  
     padding-top: 4px;  
}
.pop-name-cont-pro{
     width: 32px;
     height: 32px;
     margin-right: 7px;
     background-color: #f1f1f1;
     border-radius: 100px;
     display: flex;
     align-items: center;
     justify-content: center;

}


.app-land-prof-pic-butt{
margin-left: 12px;
padding: 0;
width: 36px;
height: 36px;
border-radius: 100px;
font-family: inter;
font-weight: 700;
font-size: 17px;
color: #555555;
outline: none;
border-style: none;
background-color: rgba(0, 0, 0, 0)
}

.app-land-prof-pic-butt:active{
     background-color: #e0e0e0;
}

.link-add-butt:active{
     background-color: #0070F3;
}


.app-link-search-bar-main-cont{
     display: inline-flex;
     width: 100%;
     height: auto;
     padding: var(--margin);
     padding-top: 0px;
     padding-bottom: 0px;
     margin-top: var(--margin-top);
}
.link-search-bar-inp{
     height: 42px;
     flex: 1;
     
}

.land-flt-butt{
     margin-left: var(--margin);
     width: 42px;
     height: 42px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.lnk-lnk-main-cont{
     width: 92%;
     margin-left: 4%;
     height: auto;
     padding: 7px;
     
     position: relative;
     margin-top: 22px;
     background-color: #fefefe;
     /* border:1px solid var(--bor-color); */
     box-shadow: var(--boxShad);
     border-radius: 7px;
}

.app-link-logo-cont{
     width: 22px;
     height: 22px;
     margin-right: 7px;
}
.app-link-logo-cont-ico{
     width: 100%;
     height: 100%;

}

.lnk-lnk-head-main-cont{
     display: inline-flex;
     height: 100%;
     width: 100%;
     padding:16px;
     
     position: relative;
     
     border-bottom: 1px solid #f1f1f1;
}


.lnk-lnk-head-main-cont-name-cont{
     font-size: 15px;
     height: 100%;
     margin-top: 3px;
     font-weight: 700;
     font-family: inter;
     color: #000;
     display:block;
     align-items: center;
}

.lnk-lnk-head-main-cont-crt-cont{
     font-size: 12px;
     color: #bdbdbd;
     font-family: inter;
     font-weight: 400;
}

.lnk-lnk-head-edit-butt{
     background-color: rgba(0, 0, 0, 0);
     border-style: none;
     outline: none;
     margin-left: 4px;
}
.lnk-lnk-head-right-butt-cont{
     position: absolute;
     right: 0;
     top: 0;
     padding: 0px;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     padding-top: 3px;
     margin-right: 10px;
}

.lnk-lnk-mid-body-cont{
     position: relative;
     padding: 12px;
     border-bottom: 1px solid #F1F1F1;
}

.lnk-lnk-mid-body-right-cont{
     position: absolute;
     height: 100%;
     width: 52px;
     display: flex;
     align-items: center;
     align-items: center;
     top: 0;
     right: 0;
}
.lnk-lnk-mid-body-right-ico{
     width: 18px;
     height: 18px;
     color: #0070F3;
}

.lnk-lnk-mid-body-cont-lab{
     font-size: 13px;
     color: #656565;
}
.lnk-lnk-mid-body-cont-cont{
     font-size: 13px;
     font-weight: 500;
     color: #454545;
     margin-top: 4px;
}

.lnk-lnk-body-cont{
     padding: var(--margin);
     
}
.lnk-lnk-body-tit-cont{
     color: #6F879C;
     font-size: 13px;
     font-weight: 700;
}
.lnk-lnk-body-link-cont{
     color: #788A99;
     font-size: 13px;
     text-decoration: underline;

}
.lnk-lnk-gen-cont{
     width: 100%;
     margin-left: 0%;
     margin-top: 0px;
     padding: var(--margin);
     padding-left: 12px;
     height: 52px;
     position: relative;
     display: inline-flex;
     align-items: center;
}
.lnk-lnk-gen-link{
     font-size: 12px;
     color: #000;
     background-color: #f7f7f7;
     height: 32px;
     display: flex;
     align-items: center;
     padding-left: 12px;
     padding-right: 12px;
     border-radius: 100px;

}
.lnk-lnk-gen-right-cont{
     display: inline-flex;
     position: absolute;
     right: 0;
     margin-right: 12px;
}
.lnk-lnk-gen-right-butt{
     width: 32px;
     height: 32px;
     color: #bdbdbd;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color:#f5f5f5;
     border-radius: 100px;
     overflow: visible;
     outline: none;
     border-style: none;
     margin-left: 7px;
}


.lnk-lnk-gen-right-butt-ico{
     width: 20px;
     height: 20px;
     object-fit: cover;
     color: inherit;
     
}

.lnk-lnk-gen-right-butt:active{
     background-color: #e0e0e0;
     color: #000;
}



.lnk-lnk-bottom-cont{
     width: 100%;
     padding: var(--margin);
     padding-top: 12px;
     display: inline-flex;

}
.lnk-lnk-bottom-show-butt{
     flex: 1;
     height: 36px;
     color: #76B5FF;
     font-size: 13px;
     border-radius: var(--bor-rad);
     outline: none;
     border-style: none;
     text-align: center;
     background-color: var(--sec-dark);

}
.lnk-lnk-bottom-del-butt{
     width: 36px;
     height: 36px;
     background-color: var(--sec-dark);
     color: var(--danger);
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 12px;
     border-radius: var(--bor-rad);
     outline: none;
     border-style: none;
}
.app-anal-head-more-butt{
     background-color: rgba(0, 0, 0, 0);
     outline: none;
     border-style: none;
}

.app-anal-lnk-selc-butt{
     height: 42px;
     width: 80%;
     margin-left: 10%;
     margin-top: var(--margin);
     background-color: var(--warning);
     font-weight: 700;
     font-family: inter;
     vertical-align: middle;
}
.app-anal-time-selc-butt{
     height: 42px;
     width: 80%;
     margin-left: 10%;
     font-weight: 700;
     color: var(--text-s1);;
     margin-top: 12px;
     font-family: inter;
     vertical-align: middle;
}
.app-anal-lnk-selc-butt-ico{
     vertical-align: middle;
     margin-left: 4px;
}

.app-anal-hr-cont{
     width: 100%;
     height: 1px;
     margin-top: var(--margin);
     background-color: #34414B;
}

.app-anal-header-data-main-cont{
     background: linear-gradient(90deg, #465765 0%, #36414B 100%, #334758 100%);
     padding: var(--margin);
     width: 100%;
     margin-top:var(--margin-top);
     display: inline-flex;
     position: relative;
}
.app-anal-header-data-body-cont{

}
.app-anal-header-data-body-tit-cont{
     color: #D5D5D5;
     font-size: 13px;
     
}
.app-anal-header-data-body-data-tit-cont{
     color: var(--text-s1);;
     font-family: inter;
     font-weight: 700;
     font-size: 21px;
     display: inline-flex;
    align-items: center; 
     position: relative;
}
.app-anal-header-data-right-cont{
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-right: var(--margin);
     color: var(--text-s1);;
     font-size: 21px;
     font-weight: 800;
}
.app-incri-main-cont{
     border-radius: 6px;
     background: #81EAAB;
     padding-left: 8px;
     padding-right: 8px;
     height: 22px;
     margin-left: 8px;
     padding-top: 0px;
     padding-bottom: 0px;
     color: #3E9D64;
     font-size: 10px;
     display: flex;
     justify-content: center;
     align-items: center;

}
.app-incri-main-ico{
     margin-right: 2px;
}
.app-decri-main-cont{
     border-radius: 100px;
     background: #FF7C7C;
     padding-left: 8px;
     padding-right: 8px;
     height: 22px;
     margin-left: 6px;
     padding-top: 0px;
     padding-bottom: 0px;
     color: #EB445A;
     font-size: 11px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.app-anal-data-main-cont{
     width: 92%;
     margin-left: 4%;
     padding: var(--margin);
     margin-top: var(--margin-top);
     position: relative;
}
.app-anal-data-right-cont{
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-right: var(--margin);
     color: var(--warning);
     font-size: 21px;
     font-weight: 800;
}
.anal-click-chart-cont{
     width: 92%;
     margin-left: 4%;
     height: 250px;
     padding: 0px;
     margin-top: 22px;
}
.anal-click-chart-head-cont{
     width: 100%;
     height: 52px;
     display: inline-flex;
     align-items: center;
     padding-left: 16px;
     padding-right: 16px;
     color: #B4C7D8;
     font-size: 13px;
     font-family: inter;
     border-bottom: 1px solid var(--bor-color);
     position: relative;
         
}
.anal-click-chart-head-cont-ico{
     margin-right: 7px;
   
}
.anal-click-chart-head-right-cont{
     position: absolute;
     right: 0;
     margin-right: 16px;

}
.anal-click-chart-head-right-butt{
     background-color: rgba(0, 0, 0, 0);
     border-style: none;
     outline: none;

}
.anal-click-chart-tab-head-cont{
     width: 100%;
     height: 42px;
     border-bottom: 1px solid #384D5F;
     display: inline-flex;

}
.anal-click-chart-tab-head-tab{
     flex: 1;
     height: 100%;
     display: flex;
     align-items: center;
     padding-left: 22px;
     font-weight: 700;
     font-size: 14px;
     color: #4D5E6D;

}
.anal-click-chart-tab-data-cont{
     width: 100%;
     height: 42px;
     display: inline-flex;
}
.anal-click-chart-tab-data-tab{
     flex: 1;
     height: 100%;
     display: flex;
     align-items: center;
     padding-left: 22px;
     font-weight: 700;
     font-size: 13px;
     color: #fff;
}
.anal-click-chart-tab-data-tab-sec{
     flex: 1;
     height: 100%;
     display: flex;
     align-items: center;
     padding-left: 22px;
     font-weight: 700;
     font-size: 13px;
     color: var(--warning);
}
.profile-head-cont{

}

.profile-head-vect-main-cont{
     width: 100%;
     max-width: 100vw;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     z-index: 0;
}
.profile-head-vect-main-ico{
     object-fit: fill;
     max-width: 100vw;
     z-index: 0;
}
.profile-head-lab-cont{
     z-index: 500;
}
.profile-head-lab{
     z-index: 500;
}
.profile-data-main-cont{
     width: 100%;
     height: auto;
     display: flex;
     justify-content: center;
     align-items: center;
}
.profile-data-main-pic-cont{
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.profile-data-main-pic-ico{
     width: 100px;
     height: 100px;
     background-color: #bdbdbd;
     border-radius: 32px;
}
.profile-data-main-name-cont{
     color: var(--text-s1);;
     font-weight: 700;
     font-size: 16px;
     margin-top: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.profile-data-main-email-cont{
     display: inline-flex;
     display: flex;
     justify-content: center;
     align-items: center;
}
.profile-data-main-email{
     margin-right: 6px;
}
.profile-data-main-email-cont{
     color: #738192;
     font-size: 13px;
     display: flex;
     justify-content: center;
     align-items: center;

}
.app-land-url-valid-init-cont-err{
     width: 100%;
     height: 32px;
     background-color: #EE6A5E;
     color: #fff;
     font-family: inter;
     font-size: 13px;
     border-radius: 4px;
     font-weight: 600;
     display: flex;
     justify-content: center;
     align-items: center;

}

.app-land-url-valid-init-cont-succ{
     width: 100%;
     height: 32px;
     background-color:#A0E8C3;
     color:var(--succ);
     font-family: inter;
     font-size: 13px;
     border-radius: 4px;
     font-weight: 600;
     display: flex;
     justify-content: center;
     align-items: center;

}
.app-land-url-valid-indi-load-cont{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;

}
.app-land-plat-indi-cont{

}
.app-land-indi{
     display: inline-flex;
     align-items: center;
     width: 100%;
     height: 32px;
     font-size: 15px;
     font-family: inter;
     font-weight: 700;
     vertical-align: middle;
}

.app-land-indi-ico{
     vertical-align: middle;
     width: 17px;
     height: 17px;
     margin-right: 7px;
}

.app-create-link-modal-main-paste-butt{
     width: 100%;
     height: 37px;
     border-radius: 6px;
     border-style: none;
     outline: none;
     background-color: #f7f7f7;
     color: #55A3FF;
     font-family: inter;
     font-size: 13px;
     
}

.app-create-link-modal-main-paste-butt:active{
     background-color: #f1f1f1;
}

.app-create-link-modal-main-paste-butt-ico{
     width: 18px;
     height: 18px;
     margin-right: 5px;
}
.anal-click-chart-cont{
     
}
.lnk-lnk-gen-link-ico{
     width: 18px;
     height: 18px;
     margin-left: 5px;
}

.app-land-lab-main-cont{
     font-family: inter;
     font-size: 16px;
     font-weight: 700;
     color: #000;
     padding-left: 22px;
     margin-bottom: 7px;
     
}

.app-land-vist-grph-canva{
     display: flex;
     flex: 1;
     width: 50%;
     border-radius: 7px; 
}
.app_land_grh_viw{

}

.app-land-visit-card-main-cont{
     display: inline-flex;
     width: 100%;
     padding: 15px;
     padding-bottom: 5px;
}

.app-land-visit-card-left-cont{
     flex: 1;
     padding: 6px;
}

.app-land-visit-card-left-lab{
     font-size: 14px;
     display: inline-flex;
     font-family: inter;
     font-weight: 700;

     color: #000;
}
.app-land-visit-card-left-time{
     font-size: 12px;
     color: #bdbdbd;
     font-weight: 700;
     margin-top: 4px;
     font-family: inter;
     
}

.app-land-visit-card-left-Counter{
     font-size: 28px;
     margin-top: -4px;
     color: #000;
     font-family: inter;
     font-weight: 800;
     
}

.app-land-visit-card-main-outer-cont{
     width: 92%;
     margin-left: 4%;
     margin-top: var(--margin-top);
     background-color: #fff;
     border-radius: 7px;
     /* box-shadow: var(--box-shad); */
     border: 1px solid var(--bor-color); 
     
}


.app-land-visit-card-acrd-togg-cont{
     background-color: rgba(0, 0, 0, 0);
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: inter;
     font-size: 12px;
     color: #0070F3;
     padding-top: 12px;
     padding-bottom: 12px;
     font-weight: 600;
     border-top: 1px solid #e0e0e0;
     border-bottom: none;
     vertical-align: middle;
}
.app-land-visit-card-acrd-togg-ico{
     vertical-align: middle;
     width: 16px;
     height: 16px;
     margin-left: 6px;
     display: flex;
     
     justify-content: center;
     align-items: center;
}
.app-land-vist-full-grph-canva{
     padding-top: 12px;
     border-bottom-left-radius: 7px;
     border-bottom-right-radius: 7px;

}
.app-land-feed-butt-main-cont{
     background-color: #e0e0e0;
     border-radius: 100px;
     padding: 0px;
     width: 32px;
     height: 32px;
     display: flex;
     outline:none;
     margin-left: 12px;
     border-style: none;
     align-items: center;
     justify-content: center;    
}

.app-land-feed-butt-main-ico{
     width: 18px;
     height: 18px;
     color: #555555;
}

.app-land-mto-main-cont{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 11px;
     font-family: inter;
     color: #555555;
     padding-bottom: var(--margin);
}
.app-body-topper-main-cont{
     padding-top: 42px;
}
.app-body-topper-hey-cont{
     width: fit-content;
     
     padding-left: 16px;
     font-size: 22px;
     color: #000;
     font-family: inter;
     font-weight: 700;    
}
.app-body-topper-hey-butt
{
     width: 200px;
     background-color: #f2f2f2;
     border: 1px solid var(--bor-color);
     color: #000;
     padding: 6px;
     margin-top: 8px;
     padding-right: 22px;
     padding-left:22px;
     border-radius: 7px;
     font-size: 14px;
}

.app-feed-main-txtar-fld{
     width: 100%;
     height: 100px;
     padding: 7px;
     font-family: inter;
     font-size: 15px;
}

.app-create-link-modal-edt-uniid-link{
     font-size: 12px;
     color: #000;
     font-weight: 400;
     font-family: inter;    
     margin-top:6px;
     margin-bottom: 6px;
}
.app-land-edt-modl-cont{
     margin-top: 12px;
}
.app-land-top-butt-group-cont{
     display: inline-flex;
     width: 92%;
     margin-bottom: 12px;
     margin-left: 4%;
}

.app-land-det-butt{
     width: 42px;
     height: 42px;
     padding: 0;
     margin-left: 8px;
     background-color: var(--buttonBackColor);
     box-shadow: 0px 4px 9px rgba(100, 100, 100, 0.12); 
     border-radius: 8px;
     display: flex;
     justify-content: center;
     align-items: center;
     outline: none;
     border-style: none;

}
.app-land-det-butt:active{
     background-color: #e0e0e0;
}
.app-land-rel-main-cont{
     width: 100%;
     padding: 32px;
     display: flex;
     justify-content: center;
     align-items: center;
}



.app-land-det-butt-ico{
 width: 20px;
 height: 20px;
color: #0070F3;
}

.app-land-crt-lnk-butt{
     flex: 1;
     height: 42px;
     background-color: #0070F3;
     box-shadow: 0px 4px 15px rgba(85, 163, 255, 0.53);
     border-radius: 8px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #fff;
     border-style: none;
     outline: none;
     font-family: inter;
     font-size: 15px;
     font-weight: 400;
     overflow: hidden;
     position: relative;
}

.app-land-crt-lnk-butt-decor{
     position: absolute;
     background-color: #328DF8;
     width: 60%;
     border-radius: 100px;
     height: 200px;
     
     top: 30%;
     bottom: 0px;
     filter: blur(9px);
}
.app-land-crt-lnk-butt-lab{
     font-size: 14px;
     font-family: inter;
     font-weight: 500;
     z-index: 10;
}
.app-land-crt-lnk-butt-lab-ico{
     width: 20px;
     height: 20px;
     margin-right: 7px;
     color: #fff;
}

.app-land-crt-lnk-butt:active{
     background-color: #0070F3;
}
.clust-link-main-inner-cont{
     display: flex;
     position: relative;
     align-items: center;
     height: auto;
     padding: 6px;
     padding-top: 22px;
     padding-bottom: 22px;
     border-bottom: 1px solid #e0e0e0;
     vertical-align: middle;
}

.clust-link-main-cont{
     width: 92%;
     margin-left: 4%;
     background-color: var(--cardColor);
     border-radius: 7px;
     box-shadow: var(--boxShad);
     /* border: 1px solid var(--bor-color); */
     padding: 7px;
     padding-left: 12px;
     padding-right: 12px;
     position: relative;
     
}

.clust-link-main-link{
     font-size: 13px;
     color: #212121;
     
}
.clust-link-main-right-cont{
     position: absolute;
     height: auto;
     width: auto;        
     display: flex;
     align-items: center;
     justify-content: center;
     right: 0;
     top: 0;
     bottom: 0;
     margin-right: 12px;
}
.clust-link-main-lock-cont{
     margin-right: 7px;
     height: 100%;
     display: flex;
     align-items: center;
     vertical-align: middle;
}

.clust-link-main-lock-ico{
     width: 18px;
     height: 18px;
     color: #81EAAB;
}

.clust-link-main-link-copy-butt{
     background-color: #fff;
     border:1px solid #000;
     color: #000;
     height: 26px;
     font-size: 12px;
     border-radius: 5px;
     padding-left: 8px;
     padding-right: 8px;
}
.app-land-link-cont-holder{
 
     padding-bottom: 17px;
     margin-bottom: 17px;
}
.lnk-holder-cust{
     padding: 6px;
     padding-top: 70px;
     padding-bottom: 32px;     
     margin-top: -70px;
     border-top: 1px solid var(--borColor);
     border-bottom: 1px solid var(--borColor);
     background-color: var(--linkHolderColor);
}

@keyframes wave-animation {
     0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(24.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-16.0deg) }
    30% { transform: rotate(24.0deg) }
    40% { transform: rotate(-8.0deg) }
    50% { transform: rotate(20.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
   100% { transform: rotate( 0.0deg) }
 }
 

.app-body-topper-hey-cont-hand{
     animation-name: wave-animation; 
     animation-duration: 2.5s;      
     transform-origin: 70% 70%;    
     animation-timing-function: ease-out;
     display: inline-block;

}

.lnk-lnk-head-link-ico-cont{
     margin-right: 7px;
     color: #0070F3;
}
.lnk-lnk-head-link-ico{
     width: 20px;
     height: 20px;
}
.clust-visit-main-cont{
     width: 100%;
     color: #000;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     font-weight: 400;
     padding-top: 12px;
     padding-bottom: 12px;
     font-size: 14px;
}

.clust-visit-main-cont-lnk{
     
}

.clust-visit-main-cont-ico{
     width: 14px;
     height: 14px;
     margin-left: 4px;
}

.app-land-head-pro-pic-main-cont{
     width: 80px;
     height: 80px;
     
     background: linear-gradient(180deg, #FEE27F 0%, #F6BC4F 100%);
     border-radius: 100px;
     
}
.app-land-link-intro-pro-main-cont{
     width: 92%;
     margin-left: 4%;
     padding: 12px;
     display: inline-flex;
     
}