.dash-add-butt{
 color: var(--pri-dark);    
 padding: 9px;
 border-radius: 100px;
 padding-left: 17px;
 padding-right: 17px;
 font-family: poppins;
 font-weight: 700;
 font-size: 13px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.dash-add-butt-ico{
margin-right: 4px;
}
.dash-wel-main-cont{
     width: 90%;
     margin-left: 5%;
     height: auto;
     position: relative;
     
     border-radius: 10px;
     font-size: 23px;
     padding: 22px;
     color: #fff;
     font-weight: 700;
     background-color: var(--pri-dark);
}
.dash-wel-main-cont-ico{
     position: absolute;
     top: 0;
     right: 0;
     margin: 12px;
}
.dash-enal-cont{
     width: 90%;
     margin-left: 5%;
     height: auto;
     margin-top: var(--margin-top);
     display: inline-flex;
     align-items: center;
     font-size: 17px;
     position: relative;
     font-weight: 700;
     color: #fff;
     padding: var(--margin);
}

.dash-enal-on{
     margin-left: 5px;
     color: #94FFBF;
}
.dash-enal-off{
     margin-left: 5px;
     color: var(--danger);
}

.dash-enal-butt-cont{
     width: 32px;
     height: 32px;
     border-radius: 100px;
     position: absolute;
     right: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: var(--margin);
}

.dash-enal-indi-on{
     width: 22px;
     height: 22px;
     border-radius: 100px;
     background: var(--succ);
     box-shadow: 0px 0px 6px var(--succ);
}
.dash-enal-indi-off{
     width: 22px;
     height: 22px;
     border-radius: 100px;
     background: var(--danger);
     box-shadow: 0px 0px 6px var(--danger);
}
.dash-links-cont{
     width: 90%;
     margin-left: 5%;
     height: auto;
     padding: 0;
      margin-top: 12px;
}

.dash-search-cont{
     width: 100%;
     height: 42px;


}
.dash-links-cont-serch-cont{
     padding: 12px;
     border-bottom: 1px solid #3A4754;
}

.dash-links-cont-link-cont{
     width: 100%;
     position: relative;
     border-bottom: 1px solid #3A4754;
     display: inline-flex;
     align-items: center;
     padding: var(--margin);
}

.dash-links-cont-link-cont-ico{
     width: 25px;
     height: 25px;
     background-color: #fff;
     border-radius: 100px;

}
.dash-links-cont-link-cont-lab{
     font-family: Poppins;
     font-style: normal;
     font-weight: bold;
     font-size: 14px;
     color: #fff;
     margin-left: 8px;
}

.dash-links-cont-link-right-cont{
     position: absolute;
     right: 0;
     height: 100%;
     display: inline-flex;
     align-items: center;
     padding-right: var(--margin);
}
.dash-links-cont-link-right-copy-butt{
 background-color: rgba(0, 0, 0, 0);
 border-style: none;
 outline: none;
 margin-left: 12px;
}
.dash-links-cont-link-right-copy-butt-ico{
     width: 22px;
     height: 22px;
     color: #fff;
}
.turned-on{
     color: var(--succ);
     filter: drop-shadow(0px 0px 7px #24FF7C);
}

.turned-off{
     color: var(--danger);
     filter: drop-shadow(0px 0px 7px #EB445A);
}

.dash-links-cont-link-right-enal-butt-ico{
     width: 22px;
     height: 22px;
   
}

.dash-links-cont-link-botom-cont{
     width: 100%;
     display: inline-flex;
     padding: var(--margin);
}
.dash-links-cont-link-botom-crt-butt{
flex: 1;
margin: 4px;
font-family: poppins;
border-radius: 100px;
height: 42px;
background: #11E4D1;
border-style: none;
outline: none;
font-size: 14px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -6px -6px 20px #384148, 0px 0px 10px #11E4D1;
}
.dash-links-cont-link-botom-show-butt{
     flex: 1;
     font-family: poppins;
     font-size: 14px;
     border-radius: 100px;
     color: #fff;
     margin: 4px;
}

.insight-main-cont{
     width: 90%;
     margin-left: 5%;
     height: 200px;overflow: hidden;
     position: relative;
     margin-top: 12px;
}
.insight-bottom-main-cont{
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 42px;
     display: inline-flex;
     background: #34414D;
     width: 90%;
     margin-left: 5%;
     padding: 0px;
     overflow: hidden;
     margin-bottom: 12px;
     border-radius: 100px;
}
.insight-bottom-butt{
     flex: 1;
     height: 100%;
     border-style: none;
     outline: none;
     color: #fff;
     font-family: poppins;
     font-weight: 700;
     background-color: rgba(0, 0, 0, 0);

}
.insigh-selec{
     background-color: var(--warning);
     color: #000;
}