.dash-add-butt{
 color: var(--pri-dark);    
 padding: 9px;
 border-radius: 100px;
 padding-left: 17px;
 padding-right: 17px;
 font-family: poppins;
 font-weight: 700;
 font-size: 13px;
 display: flex;
 justify-content: center;
 align-items: center;
}



.dash-add-butt-ico{
margin-right: 4px;
}
.dash-wel-main-cont{
     width: 90%;
     margin-left: 5%;
     height: auto;
     position: relative;
     border-radius: 10px;
     font-size: 20px;
     padding: 22px;
     color: #fff;
     font-weight: 700;
     background-color: #55A3FF;
     margin-top:22px;
}
.dash-wel-main-cont-ico{
     position: absolute;
     top: 0;
     right: 0;
     margin: 12px;
}
.dash-enal-cont{
     width: 90%;
     margin-left: 5%;
     height: auto;
     margin-top: var(--margin-top);
     display: inline-flex;
     align-items: center;
     font-size: 14px;
     position: relative;
     font-weight: 700;
     color: var(--text-s1);;
     padding: var(--margin);
}

.dash-enal-on{
     margin-left: 5px;
     color: #94FFBF;
}
.dash-enal-off{
     margin-left: 5px;
     color: var(--danger);
}

.dash-enal-butt-cont{
     width: 32px;
     height: 32px;
     border-radius: 100px;
     position: absolute;
     right: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: var(--margin);
}

.dash-enal-indi-on{
     width: 22px;
     height: 22px;
     border-radius: 100px;
     background: var(--succ);
     box-shadow: 0px 0px 6px var(--succ);
}
.dash-enal-indi-off{
     width: 22px;
     height: 22px;
     border-radius: 100px;
     background: var(--danger);
     box-shadow: 0px 0px 6px var(--danger);
}
.dash-links-cont{
     width: 90%;
     margin-left: 5%;
     height: auto;
     padding: 0;
      margin-top: 12px;
}

.dash-search-cont{
     width: 100%;
     height: 32px;
     font-size: 10px;

}
.dash-links-cont-serch-cont{
     padding: 12px;
     border-bottom: 1px solid var(--bor-color);
}

.dash-links-cont-link-cont{
     width: 100%;
     position: relative;
     border-bottom: 1px solid var(--bor-color);
     display: inline-flex;
     align-items: center;
     padding: var(--margin);
}

.dash-links-cont-link-cont-ico{
     width: 22px;
     height: 22px;
     background-color:var(--text-s1);;
     border-radius: 100px;

}
.dash-links-cont-link-cont-lab{
     font-family: poppins;
     font-style: normal;
     font-weight: bold;
     font-size: 10px;
     color: var(--text-s1);;
     margin-left: 8px;
}

.dash-links-cont-link-right-cont{
     position: absolute;
     right: 0;
     height: 100%;
     display: inline-flex;
     align-items: center;
     padding-right: var(--margin);
}
.dash-links-cont-link-right-copy-butt{
 background-color: rgba(0, 0, 0, 0);
 border-style: none;
 outline: none;
 margin-left: 12px;
}
.dash-links-cont-link-right-copy-butt-ico{
     width: 19px;
     height: 19px;
     color: var(--text-s1);;
}
.turned-on{
     color: var(--succ);
     filter: drop-shadow(0px 0px 7px #24FF7C);
}

.turned-off{
     color: var(--danger);
     filter: drop-shadow(0px 0px 7px #EB445A);
}

.dash-links-cont-link-right-enal-butt-ico{
     width: 22px;
     height: 22px;
   
}

.dash-links-cont-link-botom-cont{
     width: 100%;
     display: inline-flex;
     padding: var(--margin);
}
.dash-links-cont-link-botom-crt-butt{
flex: 1;
margin: 10px;
font-family: poppins;
border-radius: 100px;
height: 36px;
background: #11E4D1;
border-style: none;
outline: none;
font-size: 12px;
font-weight: 500;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -6px -6px 20px #384148, 0px 0px 10px #11E4D1;
margin-top: 0px;
margin-bottom: 0px;
}
.dash-links-cont-link-botom-show-butt{
     flex: 1;
     font-family: poppins;
     font-size: 12px;
     border-radius: 100px;
     height: 36px;
     color: var(--text-s1);;
     margin: 10px;
     margin-top: 0px;
     margin-bottom: 0px;
     font-weight: 500;
}

.insight-main-cont{
     width: 90%;
     margin-left: 5%;
     height: 200px;overflow: hidden;
     position: relative;
     margin-top: 12px;
}
.insight-bottom-main-cont{
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 42px;
     display: inline-flex;
     background: #34414D;
     width: 90%;
     margin-left: 5%;
     padding: 0px;
     overflow: hidden;
     margin-bottom: 12px;
     border-radius: 100px;
}
.insight-bottom-butt{
     flex: 1;
     height: 100%;
     border-style: none;
     outline: none;
     color: var(--text-s1);;
     font-family: poppins;
     font-weight: 700;
     background-color: rgba(0, 0, 0, 0);

}
.insigh-selec{
     background-color: var(--warning);
     color: #000;
}
.link-add-butt{
     background: #55A3FF;
     box-shadow: none;
     border-radius: 7px;
     padding: 14px;
     color: #fff;
     padding-top: 7px;
     padding-bottom: 7px;
     font-weight: 500; 
     font-size: 11px;
     font-family: poppins;
}

.link-add-butt:active{
     background-color: #0070F3;
}


.app-link-search-bar-main-cont{
     display: inline-flex;
     width: 100%;
     height: auto;
     padding: var(--margin);
     padding-top: 0px;
     padding-bottom: 0px;
     margin-top: var(--margin-top);
}
.link-search-bar-inp{
     height: 42px;
     flex: 1;
}

.land-flt-butt{
     margin-left: var(--margin);
     width: 42px;
     height: 42px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.lnk-lnk-main-cont{
     width: 90%;
     margin-left: 5%;
     height: auto;
     padding: 0px;
     position: relative;
     margin-top: 12px;
     border:1px solid #e0e0e0;
     border-radius: 7px;
}
.lnk-lnk-head-main-cont{
     display: inline-flex;
     width: 100%;
     padding:13px;
     border-bottom: 1px solid var(--bor-color);

}
.lnk-lnk-head-main-cont-name-cont{
     font-size: 15px;
     height: 100%;
     margin-top: 3px;
     font-weight: 600;
     font-family: inter;
     color: #000;
     display: inline-flex;
}
.lnk-lnk-head-edit-butt{
     background-color: rgba(0, 0, 0, 0);
     border-style: none;
     outline: none;
     margin-left: 4px;
}
.lnk-lnk-head-right-butt-cont{
     position: absolute;
     right: 0;
     margin-right: 10px;
}
.lnk-lnk-body-cont{
     padding: var(--margin);
}
.lnk-lnk-body-tit-cont{
     color: #6F879C;
     font-size: 13px;
     font-weight: 700;
}
.lnk-lnk-body-link-cont{
     color: #788A99;
     font-size: 13px;
     text-decoration: underline;

}
.lnk-lnk-gen-cont{
     width: 100%;
     margin-left: 0%;
     margin-top: 0px;
     
     padding: var(--margin);
     height: 42px;
     position: relative;
     display: inline-flex;
     align-items: center;
}
.lnk-lnk-gen-link{
     font-size: 12px;
     color: #0070F3;

}
.lnk-lnk-gen-right-cont{
     position: absolute;
     right: 0;
     margin-right: 12px;
}
.lnk-lnk-gen-right-butt{
     color: #000;
     background-color: rgba(0, 0, 0, 0);
     outline: none;
     border-style: none;
     margin-left: 6px;
}
.lnk-lnk-bottom-cont{
     width: 100%;
     padding: var(--margin);
     padding-top: 12px;
     display: inline-flex;

}
.lnk-lnk-bottom-show-butt{
     flex: 1;
     height: 36px;
     color: #76B5FF;
     font-size: 13px;
     border-radius: var(--bor-rad);
     outline: none;
     border-style: none;
     text-align: center;
     background-color: var(--sec-dark);

}
.lnk-lnk-bottom-del-butt{
     width: 36px;
     height: 36px;
     background-color: var(--sec-dark);
     color: var(--danger);
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 12px;
     border-radius: var(--bor-rad);
     outline: none;
     border-style: none;
}
.app-anal-head-more-butt{
     background-color: rgba(0, 0, 0, 0);
     outline: none;
     border-style: none;
}

.app-anal-lnk-selc-butt{
     height: 42px;
     width: 80%;
     margin-left: 10%;
     margin-top: var(--margin);
     background-color: var(--warning);
     font-weight: 700;
     font-family: poppins;
     vertical-align: middle;
}
.app-anal-time-selc-butt{
     height: 42px;
     width: 80%;
     margin-left: 10%;
     font-weight: 700;
     color: var(--text-s1);;
     margin-top: 12px;
     font-family: poppins;
     vertical-align: middle;
}
.app-anal-lnk-selc-butt-ico{
     vertical-align: middle;
     margin-left: 4px;
}

.app-anal-hr-cont{
     width: 100%;
     height: 1px;
     margin-top: var(--margin);
     background-color: #34414B;
}

.app-anal-header-data-main-cont{
     background: linear-gradient(90deg, #465765 0%, #36414B 100%, #334758 100%);
     padding: var(--margin);
     width: 100%;
     margin-top:var(--margin-top);
     display: inline-flex;
     position: relative;
}
.app-anal-header-data-body-cont{

}
.app-anal-header-data-body-tit-cont{
     color: #D5D5D5;
     font-size: 13px;
     
}
.app-anal-header-data-body-data-tit-cont{
     color: var(--text-s1);;
     font-family: poppins;
     font-weight: 700;
     font-size: 21px;
     display: inline-flex;
    align-items: center; 
     position: relative;
}
.app-anal-header-data-right-cont{
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-right: var(--margin);
     color: var(--text-s1);;
     font-size: 21px;
     font-weight: 800;
}
.app-incri-main-cont{
     border-radius: 100px;
     background: #81EAAB;
     padding-left: 8px;
     padding-right: 8px;
     height: 22px;
     margin-left: 6px;
     padding-top: 0px;
     padding-bottom: 0px;
     color: #3E9D64;
     font-size: 11px;
     display: flex;
     justify-content: center;
     align-items: center;

}
.app-incri-main-ico{
     margin-right: 2px;
}
.app-decri-main-cont{
     border-radius: 100px;
     background: #FF7C7C;
     padding-left: 8px;
     padding-right: 8px;
     height: 22px;
     margin-left: 6px;
     padding-top: 0px;
     padding-bottom: 0px;
     color: #EB445A;
     font-size: 11px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.app-anal-data-main-cont{
     width: 90%;
     margin-left: 5%;
     padding: var(--margin);
     margin-top: var(--margin-top);
     position: relative;
}
.app-anal-data-right-cont{
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-right: var(--margin);
     color: var(--warning);
     font-size: 21px;
     font-weight: 800;
}
.anal-click-chart-cont{
     width: 90%;
     margin-left: 5%;
     height: 250px;
     padding: 0px;
     margin-top: 22px;
}
.anal-click-chart-head-cont{
     width: 100%;
     height: 52px;
     display: inline-flex;
     align-items: center;
     padding-left: 16px;
     padding-right: 16px;
     color: #B4C7D8;
     font-size: 13px;
     font-family: poppins;
     border-bottom: 1px solid var(--bor-color);
     position: relative;
         
}
.anal-click-chart-head-cont-ico{
     margin-right: 7px;
   
}
.anal-click-chart-head-right-cont{
     position: absolute;
     right: 0;
     margin-right: 16px;

}
.anal-click-chart-head-right-butt{
     background-color: rgba(0, 0, 0, 0);
     border-style: none;
     outline: none;

}
.anal-click-chart-tab-head-cont{
     width: 100%;
     height: 42px;
     border-bottom: 1px solid #384D5F;
     display: inline-flex;

}
.anal-click-chart-tab-head-tab{
     flex: 1;
     height: 100%;
     display: flex;
     align-items: center;
     padding-left: 22px;
     font-weight: 700;
     font-size: 14px;
     color: #4D5E6D;

}
.anal-click-chart-tab-data-cont{
     width: 100%;
     height: 42px;
     display: inline-flex;
}
.anal-click-chart-tab-data-tab{
     flex: 1;
     height: 100%;
     display: flex;
     align-items: center;
     padding-left: 22px;
     font-weight: 700;
     font-size: 13px;
     color: #fff;
}
.anal-click-chart-tab-data-tab-sec{
     flex: 1;
     height: 100%;
     display: flex;
     align-items: center;
     padding-left: 22px;
     font-weight: 700;
     font-size: 13px;
     color: var(--warning);
}
.profile-head-cont{

}

.profile-head-vect-main-cont{
     width: 100%;
     max-width: 100vw;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     z-index: 0;
}
.profile-head-vect-main-ico{
     object-fit: fill;
     max-width: 100vw;
     z-index: 0;
}
.profile-head-lab-cont{
     z-index: 500;
}
.profile-head-lab{
     z-index: 500;
}
.profile-data-main-cont{
     width: 100%;
     height: auto;
     display: flex;
     justify-content: center;
     align-items: center;
}
.profile-data-main-pic-cont{
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.profile-data-main-pic-ico{
     width: 100px;
     height: 100px;
     background-color: #bdbdbd;
     border-radius: 32px;
}
.profile-data-main-name-cont{
     color: var(--text-s1);;
     font-weight: 700;
     font-size: 16px;
     margin-top: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.profile-data-main-email-cont{
     display: inline-flex;
     display: flex;
     justify-content: center;
     align-items: center;
}
.profile-data-main-email{
     margin-right: 6px;
}
.profile-data-main-email-cont{
     color: #738192;
     font-size: 13px;
     display: flex;
     justify-content: center;
     align-items: center;

}
.app-land-url-valid-init-cont-err{
     width: 100%;
     height: 32px;
     background-color: #EE6A5E;
     color: #fff;
     font-family: inter;
     font-size: 13px;
     border-radius: 4px;
     font-weight: 600;
     display: flex;
     justify-content: center;
     align-items: center;

}

.app-land-url-valid-init-cont-succ{
     width: 100%;
     height: 32px;
     background-color:#A0E8C3;
     color:var(--succ);
     font-family: inter;
     font-size: 13px;
     border-radius: 4px;
     font-weight: 600;
     display: flex;
     justify-content: center;
     align-items: center;

}
.app-land-url-valid-indi-load-cont{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;

}
.app-land-plat-indi-cont{

}
.app-land-indi{
     display: inline-flex;
     align-items: center;
     width: 100%;
     height: 32px;
     font-size: 15px;
     font-family: poppins;
     font-weight: 700;
     vertical-align: middle;
}

.app-land-indi-ico{
     vertical-align: middle;
     width: 17px;
     height: 17px;
     margin-right: 7px;
}

.app-create-link-modal-main-paste-butt{
     width: 100%;
     height: 37px;
     border-radius: 6px;
     border-style: none;
     outline: none;
     background-color: #f7f7f7;
     color: #55A3FF;
     font-family: inter;
     font-size: 13px;
     
}

.app-create-link-modal-main-paste-butt:active{
     background-color: #f1f1f1;
}

.app-create-link-modal-main-paste-butt-ico{
     width: 18px;
     height: 18px;
     margin-right: 5px;
}
.anal-click-chart-cont{
     
}