.login-body-cont{
     background-color: var(--backColor);
     color: var(--textColor);
}

.login-head-body-cont{
     color:var(--textColor);
     height: 52px;
     display: flex;
     align-items: center;
     padding-left: 22px;
     font-family: inter;
     font-size: 16px;
     font-weight: 700;    
     background: rgba(0, 0, 0, 0.45);
     backdrop-filter: blur(17px);
     border-bottom-color: var(--borColor);
}

.app-moto-cont-tit-1{
     color: var(--subtextColor);
}
.app-moto-cont-tit-2{
     color: var(--textColor);
}
.app-login-inpt-main-cont-lab{
     color: var(--textColor);
}
.login-form-fld{
     box-shadow: none;
     background-color: var(--backColor);
     font-weight: 500;
     font-family: inter;
     font-size: 18px;
     padding-left: 0px;
     border-bottom: 1px solid var(--borColor);
     color: var(--textColor);
     height: 42px;
     border-radius: 0px;
}
.app-login-sub-butt{
     background-color: #0070F3;
     box-shadow: none;
     /* box-shadow: 0px 4px 8px #0070F3; */
     color: #fff;
     font-weight: 700;
     font-family: inter;
     font: 20px;
}

.app-login-sub-butt:active{
     box-shadow: none;
     -webkit-box-shadow:none;
   }
   
   

.app-or-cont{
color: var(--subtextColor);
}
.app-login-cont-googl-butt{
     box-shadow: none;
     background-color: var(--buttonBackColor);
     color: var(--textColor);
     /* box-shadow: 0px 4px 15px var(--borColor); */
}
.app-login-sub-act-cont{
     color: #0070F3;
     font-weight: 700;
}
.app-login-redirct-mess-main-cont{
     background-color:#66D655;
     color:#000;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 7px;
     border-radius: 7px;
     margin-bottom: 22px;
}
.forgot-pass-lab{
     font-size: 21px;
     font-family: inter;
     color: var(--textColor);
}

.forgot-pass-sub-lab{
     font-size: 15px;
     font-family: inter;
     margin-top: 6px;
     font-weight: 500;
}
.forgot-pass-fld{
     width: 100%;
     height: 42px;
     margin-top: 12px;
     background-color: var(--buttonBackColor);
     border-radius: 3px;
     color: var(--textColor)  ;
}

.forgot-sub-butt{
     width: 100%;
     height: 42px;
     border-radius: 7px;
     outline: none;
     border-style: none;
     color: #000;
     margin-top: 22px;
     background-color: var(--pri-dark);
}
.forgot-sub-butt:active{
     background-color: #11CEBD;    
}