.login-body-cont{
     background-color: var(--backColor);
     color: var(--textColor);
}

.login-head-body-cont{
     color:var(--textColor);
     padding: 10px;
     background-color: var(--backColor);
     border-bottom-color: var(--borColor);
}

.app-moto-cont-tit-1{
     color: var(--subtextColor);
}
.app-moto-cont-tit-2{
     color: var(--textColor);
}
.app-login-inpt-main-cont-lab{
     color: var(--subtextColor);
}
.login-form-fld{
     box-shadow: none;
     background-color: var(--backColor);
     font-weight: 700;
     font-family: inter;
     padding-left: 0px;
     border-bottom: 1px solid var(--borColor);
     color: var(--textColor);
     height: 32px;
     border-radius: 0px;
}
.app-login-sub-butt{
     background-color: #0070F3;
     box-shadow: none;
     box-shadow: 0px 4px 8px #0070F3;
     color: #fff;
     font-weight: 700;
     font-family: inter;
     font: 20px;
}

.app-login-sub-butt:active{
     box-shadow: none;
     -webkit-box-shadow:none;
   }
   
   

.app-or-cont{
color: var(--subtextColor);
}
.app-login-cont-googl-butt{
     box-shadow: none;
     background-color: var(--buttonBackColor);
     color: var(--textColor);
     box-shadow: 0px 4px 15px var(--borColor);
}
.app-login-sub-act-cont{
     color: #0070F3;
     font-weight: 700;
}