.login-body-cont{
     background-color: #fff;
     color: #000;
}
.login-head-body-cont{
     color: #000;
     padding: 10px;
     background-color: #fff;
     border-bottom-color: #e0e0e0;
}

.app-moto-cont-tit-1{
     color: #bdbdbd;
}
.app-moto-cont-tit-2{
     color: #252525;
}
.app-login-inpt-main-cont-lab{
     color: #757575;
}
.login-form-fld{
     box-shadow: none;
     background-color: #fff;
     font-weight: 700;
     font-family: inter;
     padding-left: 0px;
     border-bottom: 1px solid #bdbdbd;
     color: #000;
     height: 32px;
     border-radius: 0px;
}
.app-login-sub-butt{
     background-color: #0070F3;
     box-shadow: none;
     box-shadow: 0px 4px 15px #0070F3;
     color: #fff;
     font-weight: 700;
     font: 17px;
}

.app-or-cont{
color: #252525;
}
.app-login-cont-googl-butt{
     box-shadow: none;
     background-color: #fff;
     color: #000;
     box-shadow: 0px 4px 15px #e0e0e0;
}
.app-login-sub-act-cont{
     color: #0070F3;
     font-weight: 700;
}