.app-main-cont-main-body
{
     height: 100vh;
     width: 100vw;
     background-color: var(--sec-dark);
}
.app-head-cont-main-body{
     color: var(--text-s1);
     font-size: 20px;    
     font-weight: 700;
     padding: var(--margin);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     background-color: var(--sec-dark);
     border-bottom: 1px solid var(--bor-color);

}


.ecsp-tab-main-cont{
     width: 100%;
     height: 62px;
     display: inline-flex;
     align-items: center;
     margin: 0;
     padding: 0;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     background-color:#1E262D;
     z-index: 999;
     color: var(--text-s1);
}
.app-bottom-tab-cont{
     flex: 1;
     display: inline-block;
     border: 1px solid transparent;
     border-bottom: none;
     position: relative;
     list-style: none;
     padding: 6px 12px;
     cursor: pointer;
     color: var(--text-s1);
}
.react-tabs__tab{
     color:var(--text-s1);
}
.react-tabs__tab--selected{
       background-color:#1E262D;
     color: var(--pri-dark);
}

.app-moto-cont-main-body{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 102px;
}
.app-moto-cont-main-sub-body{
     text-align: center;
}
.app-moto-cont-tit-1{
     color: var(--text-s2);
     font-size: 19px;
     font-weight: 500;
     font-family: inter;
}
.app-moto-cont-tit-2{
     color: var(--text-s1);
     font-size: 28px;
     font-weight: 800;
     font-family: inter;
}

.app-login-main-cont-body{
     padding: var(--margin);
}
.login-form-fld{
     width: 100%;
     font-size: 12px;
     height: 46px;
     color: var(--text-s1);
}
.app-login-inpt-main-cont{
margin-top: 16px;
}
.app-login-inpt-main-cont-lab{
font-size: 12px;
color: var(--text-s1);
padding-bottom: 5px;
padding-left: 3px;
font-weight: 700;
font-family: inter;
}
.app-login-sub-main-cont{

}
.app-login-sub-butt{
     width: 100%;
     border-radius: var(--bor-rad);
     height: 46px;
     margin-top: 18px;
     background-color: var(--pri-dark);
     border-style: none;
     outline: none;
     color: #000;
     box-shadow: 0px 0px 16px rgba(17, 228, 209, 0.4);
     font-size: 13px;
     font-weight: 700;    
}
.app-or-cont{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 15px;
     font-weight: 600;
     color: var(--text-s1);    
     padding: var(--margin);
     padding-top: 10px;
     padding-bottom: 10px;
}
.app-login-cont-googl-butt-cont{

}
.app-login-cont-googl-butt{
     width: 100%;
     border-radius: var(--bor-rad);
     height: 46px;
     background: var(--sec-dark);
     border-style: none;
     outline: none;
     color: var(--text-s1);
     font-size: 13px;
     font-weight: 700;    
     display: flex;
     justify-content: center;
     align-items: center;
}
.app-login-cont-googl-butt-ico-cont{
     margin-right: 12px;
}

.app-login-cont-googl-butt-ico{
     
     width: 19px;
     height: 19px;
}
.app-login-sub-act-cont{
     color: aquamarine;
     font-size: 14px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 22px;
}
.app-content-main-cont{
     width: 100%;
     height: 100%;
     padding-bottom: 56px;
     min-height: 100vh;
     background-color: var(--sec-dark);

}
.app-head-main-cont{
     width: 100%;
     height: 62px;
     display: flex;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 500;
     right: 0;
     align-items: center;
     background-color: var(--sec-dark);
     border-bottom: 1px solid var(--bor-color);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
}

.app-body-main-cont{
     padding-top: 72px;
}
.app-body-main-cont-lab{
 font-size: 26px;    
 width: 100%;
 height: auto;
 font-weight: 700;
 color: var(--text-s1);;
 display: flex;
 justify-content: center;
 align-items: center;
padding: 32px;
}

.app-head-main-cont-logo{
     color: var(--text-s1);
     margin-left:var(--margin);
     font-family: poppins;
     font-weight: 700;
     font-size: 19px;
}
.app-head-main-right-cont{
     position: absolute;
     right: 0;
     margin-right: var(--margin);
}
.app-tit-main-cont{
     padding-left: var(--margin);
     margin-top: var(--margin-top);     
     font-family: Poppins;
     font-style: normal;
     font-weight: bold;
     font-size: 13px;
     color: #636F7C;
}
.app-ender-line-main-cont{
     font-size: 14px;
     letter-spacing: 1px;
     font-family: poppins;
     font-weight: 700;
     margin: var(--margin);
     margin-top: 72px;
     color: var(--text-s1);
     display: flex;
     justify-content: center;
     align-items: center;
}

.app-bottom-main-cont{
     width: 100%;
     height: 62px;
     display: inline-flex;
     align-items: center;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: var(--sec-dark);
     z-index: 999;
}

.app-bottom-fader-main-cont{
     width: 100%;
     height: 62px;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     pointer-events: none;
     margin-bottom: 62px;
     z-index: 9999;
     background: linear-gradient(180deg, rgba(39, 45, 52, 0) 0%, #272D33 100%);
}
.app-bottom-butt-main-cont{
     background-color: rgba(0, 0, 0, 0);
     border-style: none;
     outline: none;
     color: inherit;
}
.app-bottom-butt-main-cont-ico{
     width: 20px;
     height: 20px;

}
.app-bottom-butt-main-outer-cont{
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     color: inherit;
}
.app-start-up-main-cont{
     min-height: 100vh;
     width: 100%;
     background-color: var(--sec-dark);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 32px;
     font-family: poppins;
     color: var(--text-s1);
     font-weight: 800;
}