.app-full-loading-main-cont{
     background-color: #fff;
     font-family: inter;
     font-size: 20px;
     display: flex;
     height: 100vh;
     width: 100vw;
     justify-content: center;
     align-items: center;
     font-weight: 700;
     color: #454545;
}


.app-full-loading-main-cont-loader{
     margin-left: 9px;
     width: 19px;
     height: 19px;
}


.app-main-cont-main-body
{
     height: 100vh;
     width: 100vw;
     background-color: var(--sec-dark);
}
.app-head-cont-main-body{
     color: var(--text-s1);
     font-size: 20px;    
     font-weight: 700;
     padding: var(--margin);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     background-color: var(--sec-dark);
     border-bottom: 1px solid var(--bor-color);

}


.ecsp-tab-main-cont{
     width: 100%;
     height: 62px;
     display: inline-flex;
     align-items: center;
     margin: 0;
     padding: 0;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     background-color:#1E262D;
     z-index: 999;
     color: var(--text-s1);
}
.app-bottom-tab-cont{
     flex: 1;
     display: inline-block;
     border: 1px solid transparent;
     border-bottom: none;
     position: relative;
     list-style: none;
     padding: 6px 12px;
     cursor: pointer;
     color: var(--text-s1);
}
.react-tabs__tab{
     color:var(--text-s1);
}
.react-tabs__tab--selected{
       background-color:#1E262D;
     color: var(--pri-dark);
}

.app-moto-cont-main-body{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 102px;
}
.app-moto-cont-main-sub-body{
     text-align: center;
}
.app-moto-cont-tit-1{
     color: var(--text-s2);
     font-size: 19px;
     font-weight: 500;
     font-family: inter;
}
.app-moto-cont-tit-2{
     color: var(--text-s1);
     font-size: 28px;
     font-weight: 800;
     font-family: inter;
}

.app-login-main-cont-body{
     padding: var(--margin);
}
.login-form-fld{
     width: 100%;
     font-size: 12px;
     height: 46px;
     color: var(--text-s1);
}
.app-login-inpt-main-cont{
margin-top: 16px;
}
.app-login-inpt-main-cont-lab{
font-size: 12px;
color: var(--text-s1);
padding-bottom: 5px;
padding-left: 3px;
font-weight: 700;
font-family: inter;
}
.app-login-sub-main-cont{

}
.app-login-sub-butt{
     width: 100%;
     border-radius: var(--bor-rad);
     height: 46px;
     margin-top: 18px;
     background-color: var(--pri-dark);
     border-style: none;
     outline: none;
     color: #000;
     box-shadow: 0px 0px 16px rgba(17, 228, 209, 0.4);
     font-size: 13px;
     font-weight: 700;    
}
.app-or-cont{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 15px;
     font-weight: 600;
     color: var(--text-s1);    
     padding: var(--margin);
     padding-top: 10px;
     padding-bottom: 10px;
}
.app-login-cont-googl-butt-cont{

}
.app-login-cont-googl-butt{
     width: 100%;
     border-radius: var(--bor-rad);
     height: 46px;
     background: var(--sec-dark);
     border-style: none;
     outline: none;
     color: var(--text-s1);
     font-size: 13px;
     font-weight: 700;    
     display: flex;
     justify-content: center;
     align-items: center;
}
.app-login-cont-googl-butt-ico-cont{
     margin-right: 12px;
}

.app-login-cont-googl-butt-ico{
     
     width: 19px;
     height: 19px;
}
.app-login-sub-act-cont{
     color: aquamarine;
     font-size: 14px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 22px;
}
.app-content-main-cont{
     width: 100%;
     height: 100%;
     padding-bottom: 56px;
     min-height: 100vh;
     background-color: var(--sec-dark);

}
.app-head-main-cont{
     width: 100%;
     height: 62px;
     display: flex;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 500;
     right: 0;
     align-items: center;
     /* background-color: var(--sec-dark); */
     background: rgba(255, 255, 255, 0.44);
     backdrop-filter: blur(16px);
     border-bottom: 1px solid var(--bor-color);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
}

.app-sub-head-main-cont{
     width: 95%;
     margin-left: 5%;
     
     color: #000;
     font-family: poppins;
     font-size: 26px;    
     display: flex;
     align-items: center;
     font-weight: 700;     
     margin-top: 22px;
     margin-bottom: 0px;
}

.app-sub-head-des-main-cont{
     width: 90%;
     margin-left: 5%;
     margin-bottom: 12px;
     color: #656565;
     font-family: poppins;
     font-size: 14px;
     
}

.app-body-main-cont{
     padding-top: 62px;
}
.app-body-main-cont-lab{
 font-size: 26px;    
 font-family: inter;
 width: 100%;
 height: auto;
 font-weight: 700;
 color: var(--text-s1);;
 display: flex;
 align-items: center;
padding: 32px;
padding-left: 22px;
padding-bottom: 0px;
}

.app-head-main-cont-logo{
     color: var(--text-s1);
     margin-left:48px;
     font-family: poppins;
     font-weight: 700;
     font-size: 19px;
}
.app-head-main-right-cont{
     position: absolute;
     right: 0;
     margin-right: var(--margin);
}
.app-tit-main-cont{
     padding-left: var(--margin);
     margin-top: var(--margin-top);     
     font-family: Poppins;
     font-style: normal;
     font-weight: bold;
     font-size: 13px;
     color: #636F7C;
}
.app-ender-line-main-cont{
     font-size: 12px;
     height: 42px;
     letter-spacing: 1px;
     font-family: inter;
     color: #656565;
     display: flex;
     justify-content: center;
     align-items: center;
}

.app-bottom-main-cont{
     width: 100%;
     height: 62px;
     display: inline-flex;
     align-items: center;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: var(--sec-dark);
     z-index: 999;
}

.app-bottom-fader-main-cont{
     width: 100%;
     height: 62px;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     pointer-events: none;
     margin-bottom: 62px;
     z-index: 9999;
     background: linear-gradient(180deg, rgba(39, 45, 52, 0) 0%, #272D33 100%);
}
.app-bottom-butt-main-cont{
     background-color: rgba(0, 0, 0, 0);
     border-style: none;
     outline: none;
     color: inherit;
}
.app-bottom-butt-main-cont-ico{
     width: 20px;
     height: 20px;

}
.app-bottom-butt-main-outer-cont{
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     color: inherit;
}
.app-start-up-main-cont{
     min-height: 100vh;
     width: 100%;
     background-color: var(--sec-dark);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 32px;
     font-family: poppins;
     color: var(--text-s1);
     font-weight: 800;
}

.app-create-link-modal-main-cont{
padding: 18px;
}
.app-create-link-modal-main-cont-tit{
font-family: poppins;
font-weight: 600;
color: #555555;
margin-bottom: 12px;
}

.app-create-link-modal-main-cont-fld-cont{
     margin-top: 12px;
}
.app-create-link-modal-main-cont-fld{
     width: 100%;
     height: 37px;
     border-radius: 4px;
     background-color: #f7f7f7;
     border-style: none;
     outline: none;
     padding-left: 8px;
     font-size: 14px;
}

.app-create-link-modal-main-cont-fld-tit{
font-size: 12px;
color: var(--text-s1);
padding-bottom: 5px;
padding-left: 3px;
font-weight: 700;
font-family: inter;
}

.app-create-link-modal-main-cont-des{
     color: #656565;
     font-family: poppins;
     font-size: 13px;
     margin-bottom: 22px;
}

.app-create-link-modal-main-cont-drop{
     width: 100%;    
     height: 42px;
     border-radius: 4px;
     background-color: #e0e0e0;
     font-family: poppins;
     font-weight: 500;
     margin-top: 12px;
}
.app-create-link-modal-crt-lnk-butt{
     width: 100%;
     height: 42px;
     background-color: #0CCE6B;
     border-radius: 4px;
     color: #fff;
     font-weight: 500;
     font-family: poppins;
     outline: none;
     border-style: none;
     box-shadow: 0px 4px 13px rgba(12, 206, 107, 0.81);
}

.app-create-link-modal-crt-lnk-butt:active{
     background-color: #09C264;
     box-shadow: 0px 4px 10px rgba(12, 206, 107, 0.81);
}

.switch {
     position: relative;
     display: inline-block;
     width: 40px;
     height: 26px;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
     opacity: 0;
     width: 0;
     height: 0;
   }
   
   /* The slider */
   .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
   }
   
   .slider:before {
     position: absolute;
     content: "";
     height: 18px;
     width: 18px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
   }
   
   input:checked + .slider {
     background-color: #0CCE6B;
   }
   
   input:focus + .slider {
     box-shadow: 0 0 1px #0CCE6B;
   }
   
   input:checked + .slider:before {
     -webkit-transform: translateX(16px);
     -ms-transform: translateX(16px);
     transform: translateX(16px);
     
   }
   
   /* Rounded sliders */
   .slider.round {
     border-radius: 34px;
   }
   
   .slider.round:before {
     border-radius: 50%;
   }

   .app-create-link-modal-hr{
        width: 100%;
        height: 1px;
        background-color: #f1f1f1;
        margin-top: 22px;
        margin-bottom: 22px;
   }

   
#app-main-cont-body-id {
     
   }
   .bm-item {
     display: inline-block;
     text-decoration: none;
     margin-bottom: 10px;
     color: #000;
     transition: color 0.2s;
     background-color: #f5f5f5;
   }

.menu-item{
     padding: 6px;
     border-radius: 7px;
     padding-left: 12px;
     font-family: poppins;
     font-size: 17px;
     margin-top: 13px;
}
.menu-item-bottom-menu{
     background-color: #f8f8f8;
     bottom: 0;
     left: 0;
     right: 0;
     padding: 12px;
     margin-top: 12px;
}
.menu-item-bottom-v{
     width: 100%;
     font-size: 14px;
     color: #000;
}
.menu-item-lgout{
     padding: 6px;
     width: 100%;
     border-style: none;
     outline: none;
     border-radius: 7px;
     padding-left: 12px;
     font-family: poppins;
     color: var(--danger);
     font-size: 15px;
     margin-top: 12px;
}

.menu-item-ico{
     
     margin-right: 10px;
     width: 17px;
     height: 17px;
}

   .bm-item:hover {
     color: #000;
   }

   .bm-burger-button {
     width: 18px;
     height: 18px;
     position: fixed;
     top: 0;
     margin: var(--margin);
   }
   .bm-burger-bars {
     background: #000;
     content: "hello";
     border-radius: 100px;
   }
   .bm-cross-button {
     height: 32px;
     width: 32px;
   }
   
   .bm-cross {
     background: #bdc3c7;
   }
   
   .bm-menu {
     
     background: #fff;
     padding: var(--margin);
     padding-top: 52px;
     font-size: 1.15em;
     z-index: 99999;
   }
   .bm-morph-shape {
     fill: #fff;
   }
   .bm-item-list {
     color: #000;
   }
   .bm-overlay {
     background: rgba(0, 0, 0, 0);
   }
   .bm-morph-shape{
        
   }