.app-full-loading-main-cont{
     background-color: var(--backColor);
     font-family: inter;
     font-size: 20px;
     display: flex;
     height: 100vh;
     width: 100vw;
     justify-content: center;
     align-items: center;
     font-weight: 700;
     color: #454545;
}

.modal-content{
     border-radius: 22px;
}

.app-full-loading-main-cont-ico{
     width: 50px;
     height: 50px;
     color: #000;
     
}
.app-full-loading-main-cont-ico .svg-elem-1{
     stroke-dasharray: 1000;
     stroke-dashoffset: 1000;
     animation: dash 2s ease-in-out infinite;
     animation-delay: 0s;
     animation-direction: alternate-reverse;
}
@keyframes dash {
     from{
          
     }
     to {
       stroke-dashoffset: 0;
     }
   }
.app-full-loading-main-cont-loader{
     margin-left: 9px;
     width: 19px;
     height: 19px;
}


.app-main-cont-main-body
{
     min-height: 100vh;
     width: 100vw;
     max-width: 500px;
     padding-top: 64px;
     padding-bottom: 64px;
     left: calc(50% - 250px);
     background-color: var(--sec-dark);
     position: relative;
}
.app-head-cont-main-body{
     color: var(--text-s1);
     font-size: 20px;    
     font-weight: 700;
     padding: var(--margin);
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     background-color: var(--sec-dark);
     border-bottom: 1px solid var(--bor-color);

}


.ecsp-tab-main-cont{
     width: 100%;
     height: 62px;
     display: inline-flex;
     align-items: center;
     margin: 0;
     padding: 0;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     background-color:#1E262D;
     z-index: 999;
     color: var(--text-s1);
}
.app-bottom-tab-cont{
     flex: 1;
     display: inline-block;
     border: 1px solid transparent;
     border-bottom: none;
     position: relative;
     list-style: none;
     padding: 6px 12px;
     cursor: pointer;
     color: var(--text-s1);
}
.react-tabs__tab{
     color:var(--text-s1);
}
.react-tabs__tab--selected{
       background-color:#1E262D;
     color: var(--pri-dark);
}

.app-moto-cont-main-body{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 102px;
}
.app-moto-cont-main-sub-body{
     text-align: center;
}
.app-moto-cont-tit-1{
     color: var(--text-s2);
     font-size: 19px;
     font-weight: 500;
     font-family: inter;
}
.app-moto-cont-tit-2{
     color: var(--text-s1);
     font-size: 28px;
     font-weight: 800;
     font-family: inter;
}

.app-login-main-cont-body{
     padding: var(--margin);
}
.login-form-fld{
     width: 100%;
     font-size: 12px;
     height: 46px;
     color: var(--text-s1);
}
.app-login-inpt-main-cont{
margin-top: 16px;
}
.app-login-inpt-main-cont-lab{
font-size: 12px;
color: var(--text-s1);
padding-bottom: 5px;
padding-left: 3px;
font-weight: 700;
font-family: inter;
}
.app-login-sub-main-cont{

}
.app-login-sub-butt{
     width: 100%;
     border-radius: var(--bor-rad);
     height: 46px;
     margin-top: 18px;
     background-color: var(--pri-dark);
     border-style: none;
     outline: none;
     color: #000;
     box-shadow: 0px 0px 16px rgba(17, 228, 209, 0.4);
     font-size: 13px;
     font-weight: 700;    
}
.app-or-cont{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 15px;
     font-weight: 600;
     color: var(--text-s1);    
     padding: var(--margin);
     padding-top: 10px;
     padding-bottom: 10px;
}
.app-login-cont-googl-butt-cont{

}
.app-login-cont-googl-butt{
     width: 100%;
     border-radius: var(--bor-rad);
     height: 46px;
     background: var(--sec-dark);
     border-style: none;
     outline: none;
     color: var(--text-s1);
     font-size: 13px;
     font-weight: 700;    
     display: flex;
     justify-content: center;
     align-items: center;
}
.app-login-cont-googl-butt-ico-cont{
     margin-right: 12px;
}

.app-login-cont-googl-butt-ico{
     
     width: 19px;
     height: 19px;
}
.app-login-sub-act-cont{
     color: aquamarine;
     font-size: 14px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 22px;
}
.app-content-main-cont{
     width: 100%;
     height: 100%;
     padding-bottom: 56px;
     min-height: 100vh;
     background-color: var(--sec-dark);

}
.app-head-main-cont{
     width: 100%;
     max-width: 500px;
     height: 62px;
     display: flex;
     position: fixed;
     top: 0;
     left: 0;
     z-index:  100;
     align-items: center;
     padding-left: 22px;
     background-color: var(--headColor);
     position: fixed;
     top: 0;
     left: calc(50% - 250px);
     right: 0;
}

.app-sub-head-main-cont{
     width: 95%;
     margin-left: 5%;
     
     color: #000;
     font-family: inter;
     font-size: 26px;    
     display: flex;
     align-items: center;
     font-weight: 700;     
     margin-top: 22px;
     margin-bottom: 0px;
}

.app-sub-head-des-main-cont{
     width: 90%;
     margin-left: 5%;
     margin-bottom: 12px;
     color: #656565;
     font-family: inter;
     font-size: 14px;
     
}

.app-body-main-cont{
    padding-top: 0px;
}
.app-body-main-cont-lab{
 font-size: 26px;    
 font-family: inter;
 width: 100%;
 height: auto;
 font-weight: 700;
 color: var(--text-s1);;
 display: flex;
 align-items: center;
padding: 32px;
padding-left: 22px;
padding-bottom: 0px;
}



.app-head-main-cont-logo{
     color: var(--text-s1);
     font-family: inter;
     font-weight: 00;
     font-size: 19px;
}
.app-head-main-right-cont{
     display: inline-flex;
     position: absolute;
     right: 0;
     margin-right: var(--margin);
}
.app-tit-main-cont{
     padding-left: var(--margin);
     margin-top: var(--margin-top);     
     font-family: inter;
     font-style: normal;
     font-weight: bold;
     font-size: 13px;
     color: #636F7C;
}
.app-ender-line-main-cont{
     font-size: 12px;
     height: 42px;
     letter-spacing: 1px;
     font-family: inter;
     color: #656565;
     display: flex; 
     justify-content: center;
     align-items: center;
}

.app-bottom-main-cont{
     width: 100%;
     height: 62px;
     display: inline-flex;
     align-items: center;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: var(--sec-dark);
     z-index: 999;
}

.app-bottom-fader-main-cont{
     width: 100%;
     height: 62px;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     pointer-events: none;
     margin-bottom: 62px;
     z-index: 9999;
     background: linear-gradient(180deg, rgba(39, 45, 52, 0) 0%, #272D33 100%);
}
.app-bottom-butt-main-cont{
     background-color: rgba(0, 0, 0, 0);
     border-style: none;
     outline: none;
     color: inherit;
}
.app-bottom-butt-main-cont-ico{
     width: 20px;
     height: 20px;

}
.app-bottom-butt-main-outer-cont{
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     color: inherit;
}
.app-start-up-main-cont{
     min-height: 100vh;
     width: 100%;
     background-color: var(--sec-dark);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 32px;
     font-family: inter;
     color: var(--text-s1);
     font-weight: 800;
}

.app-create-link-modal-main-cont{
padding: 18px;
}
.app-create-link-modal-main-cont-tit{
font-family: inter;
font-weight: 600;
color: var(--textColor);
margin-bottom: 12px;
}

.app-create-link-modal-main-cont-fld-cont{
     position: relative;
     margin-top: 22px;
}
.app-create-link-modal-main-cont-fld-data-lab{
     font-size: 12px;
     color: #555555;

}
.app-create-link-modal-main-cont-fld{
     width: 100%;
     height: 42px;
     margin-top: 7px;
     border-radius: 4px;
     padding-left: 12px;
     color: var(--textColor);
     background-color: var(--textBoxBackColor);
     box-shadow: none;
     border: 1px solid var(--borColor);
     outline: none;
     font-size: 14px;
}

.app-create-link-modal-main-cont-fld:focus{
     /* border-bottom-color: #0070F3;     
     color: #0070F3; */
}


.app-create-link-edt-del-butt{
     width: 100%;
     height: 42px;
     background-color: var(--buttonBackColor);
     display: flex;
     justify-content: center;
     align-items: center;
     outline: none;
     border-style: none;
     border-radius: 7px;
     font-size: 15px;
     font-family: inter;
     color: var(--danger);
     margin-top: 12px;
}
.app-create-link-edt-del-butt:active{
     background-color: #f1f1f1;
}

.app-create-link-edt-del-butt-ico{
     margin-right: 2px;
}


.app-create-link-modal-main-cont-fld-tit{
font-size: 12px;
color: var(--subtextColor);
font-weight: 700;
font-family: inter;
}


.app-create-link-modal-main-cont-des{
     color: var(--textColor);
     font-family: inter;
     font-size: 13px;
     margin-bottom: 22px;
}

.app-create-link-modal-main-cont-drop{
     width: 100%;    
     height: 42px;
     border-radius: 4px;
     background-color: #e0e0e0;
     font-family: inter;
     font-weight: 500;
     margin-top: 12px;
}
.app-create-link-modal-crt-lnk-butt{
     width: 100%;
     height: 42px;
     background-color: #0CCE6B;
     border-radius: 4px;
     color: #fff;
     font-weight: 500;
     font-family: inter;
     outline: none;
     border-style: none;
     
}

.app-create-link-modal-edt-lnk-butt{
     width: 100%;
     height: 42px;
     background-color: #0070F3;
     
     border-radius: 4px;
     color: #fff;
     font-size: 14px;
     font-weight: 500;
     font-family: inter;
     outline: none;
     border-style: none;
}
.app-create-link-modal-edt-lnk-butt:active{
     background-color: #55A3FF;
     box-shadow: none;
}
.app-create-link-modal-crt-lnk-butt:active{
     background-color: #09C264;
     box-shadow: 0px 4px 10px rgba(12, 206, 107, 0.81);
}


.app-loading-skt-main-cont{
     width: 100%;
     height: 52px;
     margin-top: 12px;
     font-family: inter;
     font-size: 15px;
     font-weight: 600;
     color: #bdbdbd;
     border-radius: 7px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #e0e0e0;
     background: linear-gradient(45deg, #171717, #2E2E2E,#171717,#2E2E2E); 
     background-size: 400% 400%;
     animation: gradient 15s ease infinite;
}

.switch {
     position: relative;
     display: inline-block;
     width: 40px;
     height: 26px;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
     opacity: 0;
     width: 0;
     height: 0;
   }
   
   /* The slider */
   .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #EE6A5E;
     -webkit-transition: .4s;
     transition: .4s;
   }
   
   .slider:before {
     position: absolute;
     content: "";
     height: 18px;
     width: 18px;
     left: 4px;
     bottom: 4px;
     background-color: #fff;
     -webkit-transition: .4s;
     transition: .4s;
   }
   
   input:checked + .slider {
     background-color: var(--succ);
   }
   
   input:focus + .slider {
     box-shadow: 0 0 1px var(--succ);
   }
   
   input:checked + .slider:before {
     -webkit-transform: translateX(14px);
     -ms-transform: translateX(14px);
     transform: translateX(14px);
     
   }
   
   /* Rounded sliders */
   .slider.round {
     border-radius: 34px;
   }
   
   .slider.round:before {
     border-radius: 50%;
   }

   .app-create-link-modal-hr{
        width: 100%;
        height: 1px;
        background-color: var(--borColor);
        margin-top: 22px;
        margin-bottom: 22px;
   }


   
#app-main-cont-body-id {
     
   }
   .bm-item {
     display: inline-block;
     text-decoration: none;
     color: #bdbdbd;
     transition: color 0.2s;
     /* border-bottom: 1px solid #e0e0e0; */
   }

.menu-item{
     width: 92%;
     margin-left: 4%;
     border-radius: 0px;
     margin-top: 6px;
     padding: 12px;
     padding-left: 22px;
     font-family: inter;
     font-weight: 600;
     font-size: 17px;
}

.menu-item-ico{
     color: inherit;    
     margin-right: 10px;
     width: 20px;
     height: 20px;
}
.menu-item-selec{
     border-radius: 6px;
     /* background-color: #888a90; */
     background: linear-gradient(157.14deg, #4C9EFE 7.04%, #015ECB 91.55%);
     
     color: #fff;
}
.menu-item-bottom-menu{
     background-color: rgba(0, 0, 0, 0);
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     padding: 12px;
     margin-top: 12px;
}
.menu-item-bottom-v{
     width: 100%;
     margin-top: 7px;
     font-size: 14px;
     color: #fff;
     text-align: center;
}
.menu-item-lgout{
     padding: 6px;
     width: 100%;
     border-style: none;
     outline: none;
     border-radius: 7px;
     padding-left: 12px;
     font-family: inter;
     background: #f1f1f1;
     color: var(--danger);
     font-size: 15px;
     margin-top: 12px;
}


.lgout-conf-main-cont{
     display: inline-flex;
     width: 100%;

}
.lgout-conf-main-cont-no-butt{
     background-color: #f1f1f1;
     border-style: none;
     outline: none;
     border-radius: 4px;
     font-size: 15px;
     font-family: inter;
     color: #000;
     flex: 1;
     margin-right: 6px;
     height: 42px;
}
.lgout-conf-main-cont-yes-butt{
     height: 42px;
     background-color: #f1f1f1;
     border-style: none;
     outline: none;
     border-radius: 4px;
     font-size: 15px;
     font-family: inter;
     color: var(--danger);
     flex: 1;
     margin-left: 6px;
}
.lgout-conf-main-cont-no-butt:active{
     background-color: #e0e0e0;
}
.lgout-conf-main-cont-yes-butt:active{
     background-color: var(--danger);
     color: #fff;
}


   .bm-item:hover {
     color: #000;
   }

   .bm-burger-button {
     width: 18px;
     height: 18px;
     position: fixed;
     top: 0;
     margin: var(--margin);
     z-index: 0;
     margin-top: 22px;
   }
   .bm-burger-bars {
    z-index: 0;
     background: var(--BugerCrossColor);
     max-height: 2px;
     border-radius: 100px;
   }
   .bm-cross-button {
     height: 32px;
     width: 32px;
   }
   
   .bm-cross {
     
     background: var(--BugerCrossColor);
   }
   
   .bm-menu {
     width: 100%;
     background: var(--BurgerMenuColor);
     border-style: none;
     padding-top: 52px;
     font-size: 1.15em;
     z-index: 99999;
   }
   .bm-morph-shape {
     fill: #fff;
   }
   .bm-item-list {
     color: #000;
   }
   .bm-overlay {
     background: rgba(0, 0, 0, 1);
     
   }


   .app-nav-bar-main-cont{
        width: 100vw;
        max-width: 500px;
        height: 52px;
        overflow-x: hidden;
        scrollbar-color: var(--backColor);
        scrollbar-width: 0;
        background-color: var(--NavheadColor);
        color: #000;
        margin-top: 62px;  
        display: inline-flex;
        padding-left: 12px;
        padding-right: 22px;
        align-items: center;
        z-index: 100;
        /* border-bottom: 1px solid var(--borColor); */
        
   }
   .land-nav-bar-cont{
          box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.06);
          position: fixed;
          bottom: 0;
          height: 68px;
          background-color: var(--cardColor);
   }

   .cluster-nav-bar-cont{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

   }

   .app-nav-bar-main-link-cont{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex: 1;
        font-size: 13px;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: 6px;
        margin-right: 6px;
        font-family: inter;
        color: var(--headerTextColor);
        font-weight: 400;
   }
.app-nav-bar-back-link{
     color: #0070F3;
}

   .app-nav-bar-main-link-cont-selec{
        color: #06BEAE;
        font-weight: 600;
        /* border-bottom: 3px solid var(--NavTextColor-selec); */
   }

   .link-cont-selec-home{
        color: #0070F3;
   }

   .link-cont-selec-cluster{
        color: #06BEAE;
   }
   .link-cont-selec-profile{
        color: #BB86FC;
   }

   .app-nav-lnk-lnk{

        display: inline-flex;
   }
   .app-nav-lnk-lnk:active{
        color: var(--textColor);
        text-decoration: none;
   }

.app-nav-bar-main-link-ico{
     width: 22px;
     height: 22px;
     margin-right: 7px;
}
.app-nav-bar-main-link-ico-selec{
     color: inherit;
     
}


   .app-bottom-se-main-cont{
        width: 100%;
        height: 62px;
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          display: inline-flex;
          align-items: center;
          color: #555555;
          justify-content: center;
          background-color: #fff;
          box-shadow: 0px -6px 10px rgba(0, 0, 0, 0.09);
          border-top: 1px solid #e0e0e0;
          z-index:500;
   }
     .app-bottom-se-butt-main-cont{
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 6px;
          margin-right: 6px;
     }

     .app-bottom-se-butt-main-selec{
          color: #0070F3;
     }
   .app-bottom-se-main-ico{
        width:24px;
        height: 24px;
        color: inherit;
   }


   .app-bottom-cont-main-cont{
        width: 100%;
        text-align: center;
        padding-top: 32px;
        padding-bottom: 22px;
   }
   .app-bottom-cont-lnk-cont{
        text-align: left;
        font-size: 14px;
        padding: 9px;
        border-bottom: 1px solid var(--borColor);
        padding-left: 22px;
        color:var(--subtextColor)
     }
   .app-bottom-cont-main-logo{
     margin-top: 32px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: inter;
     font-size: 20px;
     font-weight: 700;
     color: var(--textColor);
   }

   .app-bottom-cont-main-sys-stat{
    
     display: inline-flex;
     padding: 6px;
     padding-left: 12px;
     padding-right: 12px;
     font-size: 14px;
     border: 1px solid var(--borColor);
     border-radius: 4px;
     color: var(--textColor);
     margin-top: 12px;
   }
   .app-bottom-cont-main-sys-stat-lab{
     color: #09C264;
     margin-left: 6px;
     font-weight: 500;
     display: inline-flex;
     align-items: center;
   }
   
   .app-bottom-cont-main-sys-stat-lab-cir{
     width: 10px;
     height: 10px;
     margin-right: 6px;
     background-color: #09C264;
     border-radius: 100px;
   }

   .app-bottom-cont-main-copy-cont{
        font-size: 13px; 
        margin-top: 12px;
        color: #757575;
   }
   .app-bottom-sheet-footer-butt{
        display: flex;
        flex: 1;
        width: 100%;
        justify-content: center;
        align-items: center;
        color: var(--textColor);
        outline: none;
        font-family: inter;
        background-color: var(--buttonBackColor);
        border: 1px solid var(--borColor);
        height: 42px;
   }

   .app-bottom-sheet-footer-butt:active{
        background-color:var(--buttonBackColor-selec);
   }
   .app-not-auth-body{
        width: 100vw;
        height: 100vh;
        color: var(--textColor);
        font-size: 22px;
        font-family: inter;
        display: flex;
        justify-content: center;
        align-items: center;

   }

   .app-head-outer-link-main-cont{
        text-decoration: none;
        color: var(--textColor);
   }

   .app-head-outer-link-main-cont:active{
        text-decoration: none;
        color: var(--pri-color);
   }

.app-login-for-main-cont{
     width: 100%;
     height: 32px;
     display: flex;
     align-items: center;
     margin-top: 7px;
}

   .app-login-for-link{
     font-size: 14px;
     text-decoration: underline;
     color: var(--textColor);
   }

   .app-feedback-text-area{
        width: 100%;
        margin-top: 22px;
        height: 150px;
        padding: 4px;
        background-color: var(--cardSubColor);
   }
   .app-crt-float-butt-main-cont{
     position:fixed;
     right: 0;
     top: 0;
     
     margin-top: 82vh;
     margin-right: 22px;
     z-index: 600;  
   }
   .app-crt-float-butt{
     width: 52px;
     height: 52px;
     outline: none;
     border-style: none;
     background: linear-gradient(180deg, #11E4D1 0%, #06BEAE 100%);

     box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.6);
     border-radius: 100px;
     color: #fff;
   }
   .app-crt-float-butt:active
   {
      background-color: #11CEBD;
   }
   .app-crt-float-butt-ico{
     width: 42px;
     height: 42px;
   }
   .app-dark-mode-butt{
     width: 32px;
     height: 32px;
     min-width: 32px;
     min-height: 32px;
     overflow: visible;
     background-color: rgba(0, 0, 0, 0);
     border-style: none;
     outline: none;
     margin-right: 22px;
     color: #F6BC4F;
   }
   .app-dark-mode-butt-ico{
     color: inherit;
   }