.app-prof-sec-main-cont{
     width: 100%;
     padding-top: 22px;
}
.app-prof-sec-pro-pic-main-cont{
     display: inline-flex;
     width: 100%;
     align-items: center;
}
.app-land-head-pro-upd-butt{
     margin-left: 12px;
     height: 42px;
     background-color: #BB86FC;
     border-style: none;
     outline: none;
     color: #fff;
     font-family: inter;
     font-size: 14px;
     border-radius: 8px;
     padding-left: 22px;
     padding-right: 22px;
}
.app-prof-fld-lab-cont{
font-family: inter;
font-size: 15px;
color:var(--subtextColor);
margin-bottom: 7px;
font-weight: 600;
}
.app-prof-fld-cont{
     width: 100%;
     height: 42px;
     color: var(--textColor);
     background-color: rgb(0,0,0,0);
     padding-left: 12px;
     font-family: inter;
     font-weight: 600;
     font-size: 14px;
     outline: none;
     border: 1px solid var(--borColor);
     border-radius: 6px;
}
.app-prof-fld-textarea-cont{
     width: 100%;
     height: 100px;
     resize: none;
     color: var(--textColor);
     background-color: rgb(0,0,0,0);
     padding: 12px;
     font-family: inter;
     font-size: 14px;
     outline: none;
     border: 1px solid var(--borColor);
     border-radius: 6px;
}

.app-prof-fld-sub-lab-cont{
     font-size: 15px;
     font-family: inter;

}

.app-prof-set-holder-main-cont{
     flex: 1;
     flex-direction: column;
     width: 100%;
     height: 100%;
     background-color: var(--cardColor);
     padding: 22px;
     padding-top: 0;
}

.app-prof-upt-butt{
     width: 100%;
     height: 42px;
     background-color: #0070F3;
     border-radius: 7px;
     color: #fff;
     font-size: 14px;
     font-family: inter;
     margin-top: 22px;
     outline: none;
     border-style: none;
}

.app-prof-main-lab-cont{
     background-color: #f7f7f7;
     padding: 12px;
     padding-left: 22px;
     font-size: 14px;
     font-weight: 400;
     color: #858585;
     border-top: 1px solid var(--borColor);
     border-bottom: 1px solid var(--borColor);
}
.app-prof-chng-pass-butt{
     width: 100%;
     height: 42px;
     background-color: rgb(0,0,0,0);
     border-radius: 7px;
     color: var(--danger);
     font-size: 14px;
     font-family: inter;
     margin-top: 22px;
     outline: none;
     border: 1px solid var(--danger);

}
.app-sett-acrd-main-cont{
     width: 100%;
     border: 1px solid var(--borColor);
}